openapi: 3.1.0
info:
  title: FIS Payments Accounts Transactions API
  description: FIS (Fidelity National Information Services) Payments API provides programmatic access to payment processing capabilities including ACH transfers, wire payments, card processing, and real-time payment networks. Available through the FIS CodeConnect marketplace for financial institutions and fintech developers.
  version: 1.0.0
  contact:
    name: FIS CodeConnect Support
    url: https://codeconnect.fisglobal.com/
  license:
    name: FIS Terms of Use
    url: https://www.fisglobal.com/terms-of-use
servers:
- url: https://api.fisglobal.com/v1
  description: FIS Production API
- url: https://sandbox.api.fisglobal.com/v1
  description: FIS Sandbox environment
security:
- OAuth2ClientCredentials: []
tags:
- name: Transactions
  description: Transaction history and status
paths:
  /accounts/{accountId}/transactions:
    get:
      operationId: getAccountTransactions
      summary: Get account transactions
      description: Returns the transaction history for a specified account with optional date range filtering and pagination.
      tags:
      - Transactions
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: fromDate
        in: query
        schema:
          type: string
          format: date
        description: Start date for transaction history (ISO 8601)
      - name: toDate
        in: query
        schema:
          type: string
          format: date
        description: End date for transaction history
      - name: pageSize
        in: query
        schema:
          type: integer
          default: 25
          maximum: 100
      - name: pageToken
        in: query
        schema:
          type: string
        description: Pagination token from previous response
      responses:
        '200':
          description: Transaction list returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
components:
  schemas:
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        accountId:
          type: string
        amount:
          type: number
          format: double
        currency:
          type: string
        type:
          type: string
          enum:
          - DEBIT
          - CREDIT
        status:
          type: string
        description:
          type: string
        postedDate:
          type: string
          format: date
        effectiveDate:
          type: string
          format: date
        balanceAfter:
          type: number
          format: double
    TransactionList:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        nextPageToken:
          type: string
        totalCount:
          type: integer
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.fisglobal.com/oauth/token
          scopes:
            payments:read: Read payment data
            payments:write: Create and modify payments
            accounts:read: Read account information
externalDocs:
  description: FIS CodeConnect Developer Portal
  url: https://codeconnect.fisglobal.com/
