openapi: 3.2.0
info:
  title: FIS® Accounting Data as a Service™ Financial Statement API
  description: What's changed in our API
  version: v2
  contact: {}
servers:
- url: https://api.railz.ai
  description: Main (production) API server
tags:
- name: FinancialStatement
paths:
  /balanceSheets:
    get:
      description: Gets a range of balance sheets for a business.
      operationId: balanceSheets
      parameters:
      - name: accountingMethod
        required: false
        in: query
        schema:
          default: accrual
          type: string
          enum:
          - cash
          - accrual
      - name: businessName
        required: true
        in: query
        schema:
          example: Railz
          type: string
      - name: reportFrequency
        required: true
        in: query
        schema:
          type: string
          enum:
          - month
          - quarter
          - year
      - name: serviceName
        required: true
        in: query
        schema:
          type: string
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - zohoBooks
          - byod
      - name: startDate
        required: false
        in: query
        schema:
          type: string
      - name: endDate
        required: false
        in: query
        schema:
          type: string
      - name: section
        required: false
        in: query
        schema:
          type: string
          enum:
          - Assets
          - Liabilities
          - Equity
      - name: subSection
        required: false
        in: query
        schema:
          type: string
          enum:
          - Current Assets
          - Non-Current Assets
          - Current Liabilities
          - Non-Current Liabilities
          - Equity
          - Other Assets
          - Other Liabilities
          - Expenses
      - name: group
        required: false
        in: query
        schema:
          type: string
      - name: subGroup
        required: false
        in: query
        schema:
          type: string
      - name: accountId
        required: false
        in: query
        schema:
          type: string
      - name: subAccountId
        required: false
        in: query
        schema:
          type: string
      - name: account
        required: false
        in: query
        schema:
          type: string
      - name: value
        required: false
        in: query
        schema:
          format: float
          type: number
      - name: offset
        required: false
        in: query
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceSheetsResponseDto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceSheetsResponseDto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDto'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Balance sheets
      tags:
      - FinancialStatement
      x-summary-source: derived
  /cashflowStatements:
    get:
      description: Gets a range of cashflow statements for a business.
      operationId: cashflowStatements
      parameters:
      - name: accountingMethod
        required: false
        in: query
        schema:
          default: accrual
          type: string
          enum:
          - cash
          - accrual
      - name: businessName
        required: true
        in: query
        schema:
          example: Railz
          type: string
      - name: reportFrequency
        required: true
        in: query
        schema:
          type: string
          enum:
          - month
          - quarter
          - year
      - name: serviceName
        required: true
        in: query
        schema:
          type: string
          enum:
          - freshbooks
          - quickbooks
          - xero
          - dynamicsBusinessCentral
          - zohoBooks
          - byod
      - name: startDate
        required: false
        in: query
        schema:
          type: string
      - name: endDate
        required: false
        in: query
        schema:
          type: string
      - name: section
        required: false
        in: query
        schema:
          type: string
          enum:
          - Operating Activities
          - Financing Activities
          - Investing Activities
          - Cash
      - name: subSection
        required: false
        in: query
        schema:
          type: string
          enum:
          - Payments
          - Adjustments
          - Changes
          - Proceeds
          - Stock
          - Intangibles
          - Property Plant And Equipment
          - Cash
      - name: group
        required: false
        in: query
        schema:
          type: string
      - name: subGroup
        required: false
        in: query
        schema:
          type: string
      - name: accountId
        required: false
        in: query
        schema:
          type: string
      - name: subAccountId
        required: false
        in: query
        schema:
          type: string
      - name: account
        required: false
        in: query
        schema:
          type: string
      - name: value
        required: false
        in: query
        schema:
          format: float
          type: number
      - name: offset
        required: false
        in: query
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashflowStatementsResponseDto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashflowStatementsResponseDto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDto'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Cashflow statements
      tags:
      - FinancialStatement
      x-summary-source: derived
  /incomeStatements:
    get:
      description: Gets a range of income statements for a business.
      operationId: incomeStatements
      parameters:
      - name: accountingMethod
        required: false
        in: query
        schema:
          default: accrual
          type: string
          enum:
          - cash
          - accrual
      - name: businessName
        required: true
        in: query
        schema:
          example: Railz
          type: string
      - name: reportFrequency
        required: true
        in: query
        schema:
          type: string
          enum:
          - month
          - quarter
          - year
      - name: serviceName
        required: true
        in: query
        schema:
          type: string
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - zohoBooks
          - byod
      - name: startDate
        required: false
        in: query
        schema:
          type: string
      - name: endDate
        required: false
        in: query
        schema:
          type: string
      - name: section
        required: false
        in: query
        schema:
          type: string
          enum:
          - Income
          - Expenses
      - name: subSection
        required: false
        in: query
        schema:
          type: string
          enum:
          - Income
          - Cost of Goods Sold
          - Operating Expenses
          - Other Income
          - Other Expenses
          - Uncategorized Expenses
          - Uncategorized Income
          - Expenses
      - name: group
        required: false
        in: query
        schema:
          type: string
      - name: subGroup
        required: false
        in: query
        schema:
          type: string
      - name: accountId
        required: false
        in: query
        schema:
          type: string
      - name: subAccountId
        required: false
        in: query
        schema:
          type: string
      - name: account
        required: false
        in: query
        schema:
          type: string
      - name: value
        required: false
        in: query
        schema:
          format: float
          type: number
      - name: offset
        required: false
        in: query
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeStatementsResponseDto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeStatementsResponseDto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDto'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Income statements
      tags:
      - FinancialStatement
      x-summary-source: derived
components:
  schemas:
    Error400Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 400
        message:
          readOnly: true
          example:
          - businessName cannot be null
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Bad Request
      required:
      - statusCode
      - message
      - error
    Error403ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error403Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    Error401Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 401
        message:
          readOnly: true
          example:
          - Unauthorized
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Unauthorized
      required:
      - statusCode
      - message
      - error
    Error401ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error401Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    CashflowStatementsReport:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/FinancialStatementReportMetaData'
        data:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/CashflowStatementsData'
      required:
      - meta
      - data
    IncomeStatementsData:
      type: object
      properties:
        section:
          type: string
          example: Expenses
          enum:
          - Income
          - Expenses
        subSection:
          type: string
          example: Operating Expenses
          enum:
          - Income
          - Cost of Goods Sold
          - Operating Expenses
          - Other Income
          - Other Expenses
          - Uncategorized Expenses
          - Uncategorized Income
          - Expenses
        group:
          type: string
          example: Office General Administrative Expenses
        subGroup:
          type: string
          example: Office Supplies & Software
        accountId:
          type: string
          example: '3928'
        subAccountId:
          type: string
          example: '231'
        account:
          type: string
          readOnly: true
          example: Travel
        subAccount:
          type: string
          example: National
        value:
          type: number
          readOnly: true
          example: 490
          format: float
        fullyQualifiedName:
          type: string
          example: 'Expenses : Transportation : Car Mileage'
          description: Full name of the account and parent account(s), colon separated.
        depth:
          type: number
          example: 3
          description: The sub account depth, based on it's account hierarchy level. E.g. top parent account would have a depth of 1.
      required:
      - section
      - subSection
      - account
      - value
      - fullyQualifiedName
      - depth
    PaginationMetaData:
      type: object
      properties:
        offset:
          type: number
          readOnly: true
        limit:
          type: number
          readOnly: true
        count:
          type: number
          readOnly: true
      required:
      - offset
      - limit
      - count
    BalanceSheetsReport:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/FinancialStatementReportMetaData'
        data:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/BalanceSheetsData'
      required:
      - meta
      - data
    Error500Dto:
      type: object
      properties:
        error:
          type: string
          readOnly: true
          example: Internal Server Error
        message:
          readOnly: true
          example:
          - INTERNAL_ERROR
          type: array
          items:
            type: string
        statusCode:
          type: number
          readOnly: true
          example: 500
      required:
      - error
      - message
      - statusCode
    FinancialStatementReportMetaData:
      type: object
      properties:
        reportId:
          type: string
          readOnly: true
          example: 5fad8a342a88364234392fb5
        status:
          type: string
          readOnly: true
          example: success
          enum:
          - success
          - failed
          - pending
          - empty
        reportFrequency:
          type: string
          readOnly: true
          example: month
        currency:
          type: string
          example: USD
        createdAt:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        updatedAt:
          type: string
          readOnly: true
          example: '2020-11-30T01:02:03Z'
          format: date-time
        startDate:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
        endDate:
          type: string
          readOnly: true
          example: '2020-12-25T01:02:03Z'
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        businessName:
          type: string
          readOnly: true
          example: Railz
        accountingMethod:
          type: string
          readOnly: true
          example: accrual
          enum:
          - cash
          - accrual
      required:
      - reportId
      - status
      - reportFrequency
      - createdAt
      - updatedAt
      - startDate
      - endDate
      - serviceName
      - businessName
      - accountingMethod
    IncomeStatementsReport:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/FinancialStatementReportMetaData'
        data:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/IncomeStatementsData'
      required:
      - meta
      - data
    BalanceSheetsData:
      type: object
      properties:
        section:
          type: string
          example: Assets
          enum:
          - Assets
          - Liabilities
          - Equity
        subSection:
          type: string
          example: Current Assets
          enum:
          - Current Assets
          - Non-Current Assets
          - Current Liabilities
          - Non-Current Liabilities
          - Equity
          - Other Assets
          - Other Liabilities
          - Expenses
        fullyQualifiedName:
          type: string
          example: 'Expenses : Transportation : Car Mileage'
          description: Full name of the account and parent account(s), colon separated.
        depth:
          type: number
          example: 3
          description: The sub account depth, based on it's account hierarchy level. E.g. top parent account would have a depth of 1.
        group:
          type: string
          example: Cash And Cash Equivalents
        subGroup:
          type: string
          example: Utilities
        accountId:
          type: string
          example: '3928'
        subAccountId:
          type: string
          example: '231'
        account:
          type: string
          readOnly: true
          example: Checking
        subAccount:
          type: string
          example: Checking
        value:
          type: number
          readOnly: true
          example: 990
          format: float
      required:
      - section
      - subSection
      - fullyQualifiedName
      - depth
      - account
      - value
    Error403Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 403
        message:
          readOnly: true
          example:
          - Forbidden resource
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Forbidden
      required:
      - statusCode
      - message
      - error
    Error400ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error400Dto'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
    CashflowStatementsResponseDto:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetaData'
        count:
          type: number
          readOnly: true
          example: 1
          format: integer
        reports:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/CashflowStatementsReport'
      required:
      - pagination
      - count
      - reports
    CashflowStatementsData:
      type: object
      properties:
        section:
          type: string
          example: Operating Activities
          enum:
          - Operating Activities
          - Financing Activities
          - Investing Activities
          - Cash
        subSection:
          type: string
          example: Payments
          enum:
          - Payments
          - Adjustments
          - Changes
          - Proceeds
          - Stock
          - Intangibles
          - Property Plant And Equipment
          - Cash
        group:
          type: string
          example: Financing Activities
        subGroup:
          type: string
          example: Retained Earnings
        accountId:
          type: string
          example: '3928'
        subAccountId:
          type: string
          example: '231'
        account:
          type: string
          readOnly: true
          example: Financing Activities
        subAccount:
          type: string
          example: Retained Earnings
        value:
          type: number
          readOnly: true
          example: 13000
          format: float
        fullyQualifiedName:
          type: string
          example: 'Expenses : Transportation : Car Mileage'
          description: Full name of the account and parent account(s), colon separated.
        depth:
          type: number
          example: 3
          description: The sub account depth, based on it's account hierarchy level. E.g. top parent account would have a depth of 1.
      required:
      - section
      - subSection
      - account
      - value
      - fullyQualifiedName
      - depth
    BalanceSheetsResponseDto:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetaData'
        count:
          type: number
          readOnly: true
          example: 1
          format: integer
        reports:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/BalanceSheetsReport'
      required:
      - pagination
      - count
      - reports
    Error500ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error500Dto'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
    IncomeStatementsResponseDto:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetaData'
        count:
          type: number
          readOnly: true
          example: 1
          format: integer
        reports:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/IncomeStatementsReport'
      required:
      - pagination
      - count
      - reports
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
