openapi: 3.2.0
info:
  title: FIS® Accounting Data as a Service™ Probability Of Default…
  description: What's changed in our API
  version: v2
  contact: {}
servers:
- url: https://api.railz.ai
  description: Main (production) API server
tags:
- name: ProbabilityOfDefault
paths:
  /probabilityOfDefault:
    get:
      description: Gets a point in time probability of default for a business.
      operationId: probabilityOfDefaults
      parameters:
      - name: businessName
        required: true
        in: query
        description: Unique business name identifier.
        schema:
          example: Railz
          type: string
      - name: serviceName
        required: true
        in: query
        description: Name of accounting service provider.
        schema:
          type: string
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - zohoBooks
          - byod
      - name: startDate
        required: false
        in: query
        description: 'The start date of the Transaction report frequency in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: endDate
        required: false
        in: query
        description: 'The end date of the Transaction report frequency in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The offset is the position in the dataset of a particular record.
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        description: 'This is the size of the results set you would like (default: 100).'
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProbabilityOfDefaultResponseDto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProbabilityOfDefaultResponseDto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDto'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Probability of defaults
      tags:
      - ProbabilityOfDefault
      x-summary-source: derived
components:
  schemas:
    ProbabilityOfDefaultReport:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ProbabilityOfDefaultReportMetaData'
        data:
          $ref: '#/components/schemas/ProbabilityOfDefaultData'
      required:
      - meta
      - data
    Error400Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 400
        message:
          readOnly: true
          example:
          - businessName cannot be null
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Bad Request
      required:
      - statusCode
      - message
      - error
    Error401Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 401
        message:
          readOnly: true
          example:
          - Unauthorized
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Unauthorized
      required:
      - statusCode
      - message
      - error
    Error400ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error400Dto'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
    Error403ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error403Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    ProbabilityOfDefaultResponseDto:
      type: object
      properties:
        count:
          type: number
          readOnly: true
          format: integer
          example: 1
        reports:
          readOnly: false
          type: array
          items:
            $ref: '#/components/schemas/ProbabilityOfDefaultReport'
      required:
      - count
      - reports
    Error401ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error401Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    ProbabilityOfDefaultData:
      type: object
      properties:
        markovPD:
          type: number
          example: 0.659176337
          format: float
          readOnly: true
        mertonPD:
          type: number
          example: 0.659176337
          format: float
          readOnly: true
        wilcoxPD:
          type: number
          example: 0.659176337
          format: float
          readOnly: true
        altmanZScorePD:
          type: number
          example: 0.659176337
          format: float
          readOnly: true
        aggregatePD:
          type: number
          example: 0.659176337
          format: float
          readOnly: true
        logitPD:
          type: number
          example: 0.659176337
          format: float
    ProbabilityOfDefaultReportMetaData:
      type: object
      properties:
        reportId:
          type: string
          readOnly: true
          example: 5fad8a342a88364234392fb5
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - quickbooks
          - xero
          - freshbooks
          - quickbooksDesktop
          - sageIntacct
          - sageBusinessCloud
          - oracleNetsuite
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - zohoBooks
          - myob
        businessName:
          type: string
          readOnly: true
          example: Railz
        startDate:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        endDate:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        createdAt:
          type: string
          readOnly: true
          example: '2020-12-25T01:02:03Z'
          format: date-time
        updatedAt:
          type: string
          readOnly: false
          example: '2020-12-25T01:02:03Z'
          format: date-time
      required:
      - reportId
      - serviceName
      - businessName
      - startDate
      - endDate
      - createdAt
      - updatedAt
    Error500ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error500Dto'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
    Error500Dto:
      type: object
      properties:
        error:
          type: string
          readOnly: true
          example: Internal Server Error
        message:
          readOnly: true
          example:
          - INTERNAL_ERROR
          type: array
          items:
            type: string
        statusCode:
          type: number
          readOnly: true
          example: 500
      required:
      - error
      - message
      - statusCode
    Error403Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 403
        message:
          readOnly: true
          example:
          - Forbidden resource
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Forbidden
      required:
      - statusCode
      - message
      - error
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
