openapi: 3.2.0
info:
  title: FIS® Accounting Data as a Service™ Aging API
  description: What's changed in our API
  version: v2
  contact: {}
servers:
- url: https://api.railz.ai
  description: Main (production) API server
tags:
- name: Aging
paths:
  /apAging:
    get:
      description: Gets a range of AP aging reports for a business.
      operationId: apAging
      parameters:
      - name: businessName
        required: true
        in: query
        schema:
          type: string
      - name: serviceName
        required: true
        in: query
        schema:
          type: string
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - dynamicsBusinessCentral
      - name: startDate
        required: false
        in: query
        description: 'Transaction date greater than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: endDate
        required: false
        in: query
        description: 'Transaction date less than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The offset is the position in the dataset of a particular record.
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        description: 'This is the size of the results set you would like (default: 100).'
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      - name: reportFrequency
        required: true
        in: query
        schema:
          type: string
          enum:
          - month
          - quarter
          - year
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApAgingResponseDto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApAgingResponseDto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDto'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Ap aging
      tags:
      - Aging
      x-summary-source: derived
  /arAging:
    get:
      description: Gets a range of AR aging reports for a business.
      operationId: arAging
      parameters:
      - name: businessName
        required: true
        in: query
        schema:
          type: string
      - name: serviceName
        required: true
        in: query
        schema:
          type: string
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - sageIntacct
          - dynamicsBusinessCentral
      - name: startDate
        required: false
        in: query
        description: 'Transaction date greater than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: endDate
        required: false
        in: query
        description: 'Transaction date less than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The offset is the position in the dataset of a particular record.
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        description: 'This is the size of the results set you would like (default: 100).'
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      - name: reportFrequency
        required: true
        in: query
        schema:
          type: string
          enum:
          - month
          - quarter
          - year
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArAgingResponseDto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArAgingResponseDto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDto'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Ar aging
      tags:
      - Aging
      x-summary-source: derived
components:
  schemas:
    Error400Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 400
        message:
          readOnly: true
          example:
          - businessName cannot be null
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Bad Request
      required:
      - statusCode
      - message
      - error
    Error403ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error403Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    Error401Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 401
        message:
          readOnly: true
          example:
          - Unauthorized
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Unauthorized
      required:
      - statusCode
      - message
      - error
    ApAgingReport:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ApAgingMetaData'
        data:
          type: array
          items:
            $ref: '#/components/schemas/ApAgingDataV1'
      required:
      - meta
      - data
    Error401ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error401Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    PaginationMetaData:
      type: object
      properties:
        offset:
          type: number
          readOnly: true
        limit:
          type: number
          readOnly: true
        count:
          type: number
          readOnly: true
      required:
      - offset
      - limit
      - count
    Error500Dto:
      type: object
      properties:
        error:
          type: string
          readOnly: true
          example: Internal Server Error
        message:
          readOnly: true
          example:
          - INTERNAL_ERROR
          type: array
          items:
            type: string
        statusCode:
          type: number
          readOnly: true
          example: 500
      required:
      - error
      - message
      - statusCode
    ApAgingMetaData:
      type: object
      properties:
        reportId:
          readOnly: true
          example:
          - 5fad8a342a88364234392fb5
          type: array
          items:
            type: string
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - quickbooks
          - xero
          - freshbooks
          - quickbooksDesktop
          - sageIntacct
          - sageBusinessCloud
          - oracleNetsuite
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - zohoBooks
          - myob
        businessName:
          type: string
          readOnly: true
          example: Railz
        startDate:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        endDate:
          type: string
          readOnly: true
          example: '2020-11-30T01:02:03Z'
          format: date-time
        createdAt:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        updatedAt:
          type: string
          example: '2020-11-30T01:02:03Z'
          format: date-time
          readOnly: false
        reportFrequency:
          type: string
          example: month
          readOnly: true
      required:
      - reportId
      - serviceName
      - businessName
      - startDate
      - endDate
      - createdAt
      - updatedAt
      - reportFrequency
    ArAgingCustomerRef:
      type: object
      properties:
        id:
          type: string
          example: '240'
        name:
          type: string
          example: Railz
    ArAgingMetaData:
      type: object
      properties:
        reportId:
          readOnly: true
          example:
          - 5fad8a342a88364234392fb5
          type: array
          items:
            type: string
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - quickbooks
          - xero
          - freshbooks
          - quickbooksDesktop
          - sageIntacct
          - sageBusinessCloud
          - oracleNetsuite
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - zohoBooks
          - myob
        businessName:
          type: string
          readOnly: true
          example: Railz
        startDate:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        endDate:
          type: string
          readOnly: true
          example: '2020-11-30T01:02:03Z'
          format: date-time
        createdAt:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        updatedAt:
          type: string
          example: '2020-11-30T01:02:03Z'
          format: date-time
          readOnly: false
        reportFrequency:
          type: string
          example: month
          readOnly: true
      required:
      - reportId
      - serviceName
      - businessName
      - startDate
      - endDate
      - createdAt
      - updatedAt
      - reportFrequency
    ArAgingReport:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ArAgingMetaData'
        data:
          type: array
          items:
            $ref: '#/components/schemas/ArAgingDataV1'
      required:
      - meta
      - data
    ArAgingDataV1:
      type: object
      properties:
        customerRef:
          $ref: '#/components/schemas/ArAgingCustomerRef'
        current:
          type: number
          example: 50000
          format: float
          readOnly: false
        dpd30:
          type: number
          example: 25000
          format: float
          readOnly: false
        dpd60:
          type: number
          example: 25000
          format: float
          readOnly: false
        dpd90:
          type: number
          example: 60000
          format: float
          readOnly: false
        dpd90+:
          type: number
          example: 90000
          format: float
          readOnly: false
        total:
          type: number
          example: 200000
          format: float
          readOnly: false
        currencyRef:
          $ref: '#/components/schemas/ApArAgingCurrencyRef'
      required:
      - customerRef
      - dpd30
      - dpd60
      - dpd90
      - total
    ApAgingResponseDto:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetaData'
        count:
          type: integer
          readOnly: true
          example: 1
        reports:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ApAgingReport'
      required:
      - pagination
      - count
      - reports
    ApArAgingCurrencyRef:
      type: object
      properties:
        id:
          type: string
          example: CAD
        name:
          type: string
          example: Canadian Dollar
        symbol:
          type: string
          example: USD,CAD
      required:
      - id
    ApAgingVendorRef:
      type: object
      properties:
        id:
          type: string
          example: '240'
        name:
          type: string
          example: Railz
    Error403Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 403
        message:
          readOnly: true
          example:
          - Forbidden resource
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Forbidden
      required:
      - statusCode
      - message
      - error
    Error400ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error400Dto'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
    ApAgingDataV1:
      type: object
      properties:
        vendorRef:
          $ref: '#/components/schemas/ApAgingVendorRef'
        current:
          type: number
          example: 50000
          format: float
          readOnly: false
        dpd30:
          type: number
          example: 25000
          format: float
          readOnly: false
        dpd60:
          type: number
          example: 25000
          format: float
          readOnly: false
        dpd90:
          type: number
          example: 60000
          format: float
          readOnly: false
        dpd90+:
          type: number
          example: 90000
          format: float
          readOnly: false
        total:
          type: number
          example: 200000
          format: float
          readOnly: false
        currencyRef:
          $ref: '#/components/schemas/ApArAgingCurrencyRef'
      required:
      - dpd30
      - dpd60
      - dpd90
      - total
    Error500ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error500Dto'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
    ArAgingResponseDto:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetaData'
        count:
          type: integer
          readOnly: true
          example: 1
        reports:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ArAgingReport'
      required:
      - pagination
      - count
      - reports
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
