openapi: 3.2.0
info:
  title: FIS® Accounting Data as a Service™ Deposit API
  description: What's changed in our API
  version: v2
  contact: {}
servers:
- url: https://api.railz.ai
  description: Main (production) API server
tags:
- name: Deposit
paths:
  /deposits:
    get:
      description: Gets the latest deposits for a business.
      operationId: deposits
      parameters:
      - name: businessName
        required: true
        in: query
        schema:
          type: string
      - name: serviceName
        required: true
        in: query
        schema:
          type: string
          enum:
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
      - name: startDate
        required: false
        in: query
        description: 'Transaction date greater than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: endDate
        required: false
        in: query
        description: 'Transaction date less than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The offset is the position in the dataset of a particular record.
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        description: 'This is the size of the results set you would like (default: 100).'
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      - name: totalAmount
        required: false
        in: query
        schema:
          format: float
          type: number
      - name: status
        required: false
        in: query
        schema:
          type: string
          enum:
          - open
          - paid
          - void
          - unknown
          - draft
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDepositResponseDto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDepositResponseDto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDto'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Deposits
      tags:
      - Deposit
      x-summary-source: derived
    post:
      description: Posts an individual deposit transaction for a business.
      operationId: push-deposit
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushDepositV1Dto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushDepositV1ResponseDto'
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDto'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Push deposit
      tags:
      - Deposit
      x-summary-source: derived
components:
  schemas:
    Error400Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 400
        message:
          readOnly: true
          example:
          - businessName cannot be null
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Bad Request
      required:
      - statusCode
      - message
      - error
    Error403ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error403Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    Error401Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 401
        message:
          readOnly: true
          example:
          - Unauthorized
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Unauthorized
      required:
      - statusCode
      - message
      - error
    Error401ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error401Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    TaxRateRef:
      type: object
      properties:
        id:
          type: string
          example: '1'
        name:
          type: string
          example: HST
        effectiveTaxRate:
          type: number
          example: 13
          format: float
      required:
      - id
    PushDepositV1:
      type: object
      properties:
        currencyRate:
          type: number
          example: '1.13'
        memo:
          type: string
          maxLength: 4000
          example: Example memo.
        currency:
          type: string
          example: CAD
        customerRef:
          type: string
          example: '124'
        postedDate:
          type: string
          format: date
          example: '2021-03-29'
        bankAccountRef:
          type: string
          example: '200'
        lines:
          type: array
          items:
            $ref: '#/components/schemas/PushDepositLineV1'
      required:
      - postedDate
      - bankAccountRef
      - lines
    PushDepositV1ResponseDto:
      type: object
      properties:
        pushCommunicationId:
          type: string
          readOnly: true
          example: 60473b57f0cdd1683ca71f60
        requestedOn:
          type: string
          readOnly: true
          example: '2021-03-09T08:15:22.035Z'
          format: date-time
        status:
          type: string
          readOnly: true
          example: pending
          enum:
          - success
          - failed
          - pending
        businessName:
          type: string
          readOnly: true
          example: Railz
        serviceName:
          type: string
          readOnly: true
          example: quickbooks
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        data:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/PushDepositV1'
      required:
      - pushCommunicationId
      - requestedOn
      - status
      - businessName
      - serviceName
      - data
    PaginationMetaData:
      type: object
      properties:
        offset:
          type: number
          readOnly: true
        limit:
          type: number
          readOnly: true
        count:
          type: number
          readOnly: true
      required:
      - offset
      - limit
      - count
    PushDepositLineV1:
      type: object
      properties:
        description:
          type: string
          maxLength: 4000
          example: Services rendered.
        quantity:
          type: number
          format: float
          example: '4'
        unitAmount:
          type: number
          format: float
          example: '50.4'
        memo:
          type: string
          maxLength: 4000
          example: Example memo.
          deprecated: true
        accountRef:
          type: string
          example: '200'
        taxRef:
          type: string
          example: '45'
        subTotal:
          type: number
          format: float
          example: '202.0'
          deprecated: true
        totalAmount:
          type: number
          format: float
          example: '197.05'
          deprecated: true
        taxAmount:
          type: number
          format: float
          example: '15.25'
      required:
      - quantity
      - unitAmount
      - accountRef
    Error500Dto:
      type: object
      properties:
        error:
          type: string
          readOnly: true
          example: Internal Server Error
        message:
          readOnly: true
          example:
          - INTERNAL_ERROR
          type: array
          items:
            type: string
        statusCode:
          type: number
          readOnly: true
          example: 500
      required:
      - error
      - message
      - statusCode
    GetDepositResponseDto:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetaData'
        count:
          type: number
          readOnly: true
          example: 1
          format: integer
        meta:
          $ref: '#/components/schemas/BasicStartEndDateReportMetaData'
        data:
          type: array
          items:
            $ref: '#/components/schemas/GetDepositData'
      required:
      - pagination
      - count
      - meta
      - data
    PushDepositConnection:
      type: object
      properties:
        businessName:
          type: string
          example: Railz
          description: Unique business name identifier.
        serviceName:
          type: string
          example: quickbooks
          description: Name of accounting platform service.
          enum:
          - quickbooks
          - xero
      required:
      - businessName
      - serviceName
    AccountRef:
      type: object
      properties:
        id:
          type: string
          example: '145'
        name:
          type: string
          example: Example account
      required:
      - id
    DepositEntityRef:
      type: object
      properties:
        name:
          type: string
          example: ABC Inc.
        id:
          type: string
          example: '1'
        type:
          type: string
          example: vendor
          enum:
          - customer
          - employee
          - unknown
      required:
      - id
      - type
    Links:
      type: object
      properties:
        type:
          type: string
          enum:
          - billPayment
          - transfer
          - journalEntry
          - paymentOnAccount
          - other
        id:
          type: string
          example: '560'
      required:
      - type
      - id
    CurrencyRef:
      type: object
      properties:
        id:
          type: string
          example: CAD
        name:
          type: string
          example: Canadian Dollar
        symbol:
          type: string
          example: USD,CAD
      required:
      - id
    Link:
      type: object
      properties:
        type:
          type: string
          enum:
          - billPayment
          - transfer
          - journalEntry
          - paymentOnAccount
          - other
        id:
          type: string
          example: '560'
      required:
      - id
    Error403Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 403
        message:
          readOnly: true
          example:
          - Forbidden resource
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Forbidden
      required:
      - statusCode
      - message
      - error
    Error400ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error400Dto'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
    BasicStartEndDateReportMetaData:
      type: object
      properties:
        reportId:
          readOnly: true
          example:
          - 5fad8a342a88364234392fb5
          type: array
          items:
            type: string
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        businessName:
          type: string
          readOnly: true
          example: Railz
        createdAt:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        updatedAt:
          type: string
          example: '2020-11-30T01:02:03Z'
          format: date-time
          readOnly: false
        startDate:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        endDate:
          type: string
          readOnly: true
          example: '2020-11-30T01:02:03Z'
          format: date-time
      required:
      - reportId
      - serviceName
      - businessName
      - createdAt
      - updatedAt
      - startDate
      - endDate
    PushDepositV1Dto:
      type: object
      properties:
        connection:
          $ref: '#/components/schemas/PushDepositConnection'
        data:
          $ref: '#/components/schemas/PushDepositV1'
      required:
      - connection
      - data
    GetDepositData:
      type: object
      properties:
        id:
          type: string
          example: '1'
        postedDate:
          format: date-time
          type: string
          example: '2021-03-09T10:18:29.985Z'
        currencyRef:
          $ref: '#/components/schemas/CurrencyRef'
        currencyRate:
          type: number
          example: 1.13
          format: float
        lines:
          type: array
          items:
            $ref: '#/components/schemas/DepositLineItems'
        subTotal:
          type: number
          example: 301.5
          format: float
        taxAmount:
          type: number
          example: 20.5
          format: float
        totalAmount:
          type: number
          example: 322
          format: float
        status:
          type: string
          enum:
          - open
          - paid
          - void
          - unknown
          - draft
        memo:
          type: string
          example: Example bill memo.
        sourceModifiedDate:
          format: date-time
          type: string
          example: '2021-03-09T10:18:29.985Z'
      required:
      - id
      - postedDate
      - totalAmount
      - status
    DepositLineItems:
      type: object
      properties:
        description:
          type: string
          example: Services rendered.
        unitAmount:
          type: number
          example: 100.5
          format: float
        quantity:
          type: number
          example: 3
          format: integer
        subTotal:
          type: number
          example: 301.5
          format: float
          deprecated: true
        taxAmount:
          type: number
          example: 20.5
          format: float
        totalAmount:
          type: number
          example: 322
          format: float
        accountRef:
          $ref: '#/components/schemas/AccountRef'
        taxRateRef:
          $ref: '#/components/schemas/TaxRateRef'
        entityRef:
          $ref: '#/components/schemas/DepositEntityRef'
        link:
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/Link'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Links'
      required:
      - totalAmount
    Error500ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error500Dto'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
