openapi: 3.2.0
info:
  title: FIS® Accounting Data as a Service™ Tax Rate Controller V2…
  description: What's changed in our API
  version: v2
  contact: {}
servers:
- url: https://api.railz.ai
  description: Main (production) API server
tags:
- name: TaxRateControllerV2
paths:
  /v2/accounting/taxRates:
    get:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `quickbooksDesktop` `xero` `oracleNetsuite` `sageBusinessCloud` `sageIntacct` `dynamicsBusinessCentral` `dynamics365Finance` `wave` `myob` `zohoBooks`'
      operationId: taxRates
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
          type: string
      - name: offset
        required: false
        in: query
        description: The offset is the position in the dataset of a particular record.
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        description: 'This is the size of the results set you would like (default: 100).'
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTaxRatesResponseV2Dto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTaxRatesResponseV2Dto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Tax Rates
      tags:
      - TaxRateControllerV2
    post:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `xero` `sageBusinessCloud` `dynamicsBusinessCentral` `myob` `zohoBooks`'
      operationId: push-taxRates
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushTaxRateDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushTaxRateResponseDto'
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Create a Tax Rate
      tags:
      - TaxRateControllerV2
  /v2/accounting/taxAuthority:
    get:
      description: '**Supported for:**


        `quickbooks` `zohoBooks`'
      operationId: taxAuthority
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
          type: string
      - name: offset
        required: false
        in: query
        description: The offset is the position in the dataset of a particular record.
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        description: 'This is the size of the results set you would like (default: 100).'
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTaxAuthorityResponseDto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTaxAuthorityResponseDto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Tax Authorities
      tags:
      - TaxRateControllerV2
components:
  schemas:
    Error403ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error403Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    Error401Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 401
        message:
          readOnly: true
          example:
          - Unauthorized
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Unauthorized
      required:
      - statusCode
      - message
      - error
    Error401ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error401Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    PushTaxRateResponseDto:
      type: object
      properties:
        connectionUuid:
          type: string
          readOnly: true
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        businessName:
          type: string
          readOnly: true
          example: Railz
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        pushCommunicationId:
          type: string
          readOnly: true
          example: 60473b57f0cdd1683ca71f60
        requestedOn:
          type: string
          readOnly: true
          example: '2021-03-09T08:15:22.035Z'
          format: date-time
        status:
          type: string
          readOnly: true
          example: pending
          enum:
          - success
          - failed
          - pending
        data:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/PushTaxRate'
      required:
      - connectionUuid
      - businessName
      - serviceName
      - pushCommunicationId
      - requestedOn
      - status
      - data
    GetTaxRatesResponseV2Dto:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetaData'
        meta:
          $ref: '#/components/schemas/ListReportMetaDataV2'
        data:
          type: array
          items:
            $ref: '#/components/schemas/GetTaxRatesDataV2'
      required:
      - pagination
      - meta
      - data
    PaginationMetaData:
      type: object
      properties:
        offset:
          type: number
          readOnly: true
        limit:
          type: number
          readOnly: true
        count:
          type: number
          readOnly: true
      required:
      - offset
      - limit
      - count
    Error500Dto:
      type: object
      properties:
        error:
          type: string
          readOnly: true
          example: Internal Server Error
        message:
          readOnly: true
          example:
          - INTERNAL_ERROR
          type: array
          items:
            type: string
        statusCode:
          type: number
          readOnly: true
          example: 500
      required:
      - error
      - message
      - statusCode
    PushTaxRateDto:
      type: object
      properties:
        connectionUuid:
          type: string
          description: Unique connection identifier.
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        data:
          $ref: '#/components/schemas/PushTaxRate'
      required:
      - connectionUuid
      - data
    TaxAccountRef:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - paid
          - collected
        name:
          type: string
      required:
      - id
      - type
    Error400DtoV2:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 400
        message:
          readOnly: true
          example:
          - connectionUuid should not be empty
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Bad Request
      required:
      - statusCode
      - message
      - error
    GetTaxAuthorityResponseDto:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ListReportMetaDataV2'
        data:
          type: array
          items:
            $ref: '#/components/schemas/GetTaxAuthorityData'
      required:
      - meta
      - data
    PushTaxRateComponent:
      type: object
      properties:
        id:
          type: string
          example: '1'
        name:
          type: string
          example: HST
        rate:
          type: number
          example: 13
          format: float
        isCompound:
          type: boolean
          example: false
        isPurchasesTax:
          type: boolean
          example: false
        isSalesTax:
          type: boolean
          example: false
    TaxAuthority:
      type: object
      properties:
        id:
          type: string
      required:
      - id
    TaxRateComponentV2:
      type: object
      properties:
        id:
          type: string
          example: '1'
        name:
          type: string
          example: HST
        rate:
          type: number
          example: 13
          format: float
        isCompound:
          type: boolean
          example: false
        isPurchasesTax:
          type: boolean
          example: false
        isSalesTax:
          type: boolean
          example: false
    BaseTaxAccountRef:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - paid
          - collected
      required:
      - id
      - type
    Error400ResponseDtoV2:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error400DtoV2'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
    Error403Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 403
        message:
          readOnly: true
          example:
          - Forbidden resource
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Forbidden
      required:
      - statusCode
      - message
      - error
    ListReportMetaDataV2:
      type: object
      properties:
        connectionUuid:
          type: string
          readOnly: true
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        businessName:
          type: string
          readOnly: true
          example: Railz
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        reportId:
          readOnly: true
          example:
          - 5fad8a342a88364234392fb5
          - 5fad8a342a88364234392fb6
          type: array
          items:
            type: string
        createdAt:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        updatedAt:
          type: string
          example: '2020-11-30T01:02:03Z'
          format: date-time
          readOnly: false
      required:
      - connectionUuid
      - businessName
      - serviceName
      - reportId
      - createdAt
      - updatedAt
    GetTaxAuthorityData:
      type: object
      properties:
        id:
          type: string
          example: '1'
        name:
          type: string
          example: Dept. of Revenue
        memo:
          type: string
        registrationNumber:
          type: string
          example: '460000000066001'
        sourceModifiedDate:
          format: date-time
          type: string
          example: '2021-03-10T11:26:06.619Z'
      required:
      - id
      - name
    GetTaxRatesDataV2:
      type: object
      properties:
        id:
          type: string
          example: '1'
        name:
          type: string
          example: Harmonized sales tax
        code:
          type: string
          example: HST
        effectiveTaxRate:
          type: number
          example: 0
          format: float
        totalTaxRate:
          type: number
          example: 13
          format: float
        sourceModifiedDate:
          format: date-time
          type: string
          example: '2021-03-10T11:26:06.619Z'
        components:
          type: array
          items:
            $ref: '#/components/schemas/TaxRateComponentV2'
        taxAccountRef:
          $ref: '#/components/schemas/TaxAccountRef'
        taxType:
          type: string
          example: salesTax
          enum:
          - salesTax
          - goodsAndServicesTax
          - importTax
          - luxuryCarTax
          - withholdingsTax
          - other
      required:
      - id
      - name
    Error500ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error500Dto'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
    PushTaxRate:
      type: object
      properties:
        name:
          type: string
          example: Name of the tax rate
        code:
          type: string
          example: '11200'
        effectiveTaxRate:
          type: number
          format: float
          example: 0
        totalTaxRate:
          type: number
          format: float
          example: 0
        bankName:
          type: string
          example: TD Bank
        components:
          type: array
          items:
            $ref: '#/components/schemas/PushTaxRateComponent'
        taxAuthority:
          $ref: '#/components/schemas/TaxAuthority'
        taxAccountRef:
          $ref: '#/components/schemas/BaseTaxAccountRef'
        taxType:
          type: string
          example: salesTax
          enum:
          - salesTax
          - goodsAndServicesTax
          - importTax
          - luxuryCarTax
          - withholdingsTax
          - other
      required:
      - name
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
