openapi: 3.2.0
info:
  title: FIS® Accounting Data as a Service™ Payroll Transaction API
  description: What's changed in our API
  version: v2
  contact: {}
servers:
- url: https://api.railz.ai
  description: Main (production) API server
tags:
- name: PayrollTransaction
paths:
  /v2/accounting/payrollTransactions:
    get:
      description: '**Supported for:**


        `quickbooksDesktop`'
      operationId: payrollTransactions
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
          type: string
      - name: startDate
        required: false
        in: query
        description: 'Date from which the report data begins in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: endDate
        required: false
        in: query
        description: 'Date from which the report data ends in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The offset is the position in the dataset of a particular record.
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        description: 'This is the size of the results set you would like (default: 100).'
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollTransactionsResponseDto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollTransactionsResponseDto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Payroll Transactions
      tags:
      - PayrollTransaction
components:
  schemas:
    PayrollTransactionData:
      type: object
      properties:
        id:
          type: string
          example: '1045'
        sourceId:
          type: string
          example: INV-001
        postedDate:
          format: date
          type: string
          example: '2020-11-25'
        entityRef:
          $ref: '#/components/schemas/AccountingTransactionEntityRefV2'
        type:
          type: string
          example: invoice
          enum:
          - expense
          - invoice
          - payment
          - payroll
          - journalEntry
          - bill
          - vendorCreditNote
          - creditNote
          - billPayment
          - bankTransaction
          - transfer
          - deposit
          - refund
          - estimate
          - inventoryAdjustment
          - purchaseOrder
          - taxPayment
          - taxAdjustment
          - taxRefund
          - taxReversal
          - other
          - unknown
        isPosting:
          type: boolean
          example: true
        isReconciled:
          type: boolean
          example: true
        accountRef:
          $ref: '#/components/schemas/AccountingTransactionAccountRefV2'
        section:
          type: string
          example: Assets
          enum:
          - Assets
          - Expenses
          - Income
          - Liabilities
          - Equity
        subSection:
          type: string
          example: Current Assets
          enum:
          - Current Assets
          - Non-Current Assets
          - Current Liabilities
          - Non-Current Liabilities
          - Equity
          - Income
          - Other Income
          - Operating Expenses
          - Other Expenses
          - Cost of Goods Sold
        group:
          type: string
          example: Cash And Cash Equivalents
        subGroup:
          type: string
          example: Cash And Cash Equivalents
        currency:
          type: string
          example: USD
        currencyRate:
          type: number
          example: 1.13
          format: float
        isSplitTransaction:
          type: boolean
          example: true
        parentTransactionId:
          type: string
          example: 1043
        subTotal:
          type: number
          example: 300.5
          format: float
        taxAmount:
          type: number
          example: 10.5
          format: float
        totalAmount:
          type: number
          example: 311
          format: float
        memo:
          type: string
          example: Transaction reference
        trackingCategoryRefs:
          type: array
          items:
            $ref: '#/components/schemas/PayrollTransactionTrackingCategoryRef'
        sourceModifiedDate:
          type: string
          example: '2021-03-09T10:18:29.985Z'
          format: date
          readOnly: false
      required:
      - id
      - postedDate
      - type
    Error403ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error403Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    PayrollTransactionsReportMetaData:
      type: object
      properties:
        connectionUuid:
          type: string
          readOnly: true
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        businessName:
          type: string
          readOnly: true
          example: Railz
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        reportId:
          readOnly: true
          example:
          - 5fad8a342a88364234392fb5
          - 5fad8a342a88364234392fb6
          type: array
          items:
            type: string
        startDate:
          type: string
          example: '2020-11-25T01:02:03Z'
          format: date-time
        endDate:
          type: string
          example: '2020-11-30T01:02:03Z'
          format: date-time
        createdAt:
          type: string
          example: '2020-11-25T01:02:03Z'
          format: date-time
        updatedAt:
          type: string
          example: '2020-11-30T01:02:03Z'
          format: date-time
          readOnly: false
      required:
      - connectionUuid
      - businessName
      - serviceName
      - reportId
      - createdAt
      - updatedAt
    Error401Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 401
        message:
          readOnly: true
          example:
          - Unauthorized
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Unauthorized
      required:
      - statusCode
      - message
      - error
    AccountingTransactionAccountRefV2:
      type: object
      properties:
        id:
          type: string
          example: '1334'
          readOnly: false
        name:
          type: string
          example: Account Receivable
          readOnly: false
      required:
      - id
    Error401ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error401Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    PayrollTransactionsResponseDto:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetaData'
        meta:
          $ref: '#/components/schemas/PayrollTransactionsReportMetaData'
        data:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/PayrollTransactionData'
      required:
      - pagination
      - meta
      - data
    PaginationMetaData:
      type: object
      properties:
        offset:
          type: number
          readOnly: true
        limit:
          type: number
          readOnly: true
        count:
          type: number
          readOnly: true
      required:
      - offset
      - limit
      - count
    Error400DtoV2:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 400
        message:
          readOnly: true
          example:
          - connectionUuid should not be empty
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Bad Request
      required:
      - statusCode
      - message
      - error
    Error500ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error500Dto'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
    Error500Dto:
      type: object
      properties:
        error:
          type: string
          readOnly: true
          example: Internal Server Error
        message:
          readOnly: true
          example:
          - INTERNAL_ERROR
          type: array
          items:
            type: string
        statusCode:
          type: number
          readOnly: true
          example: 500
      required:
      - error
      - message
      - statusCode
    PayrollTransactionTrackingCategoryRef:
      type: object
      properties:
        id:
          type: string
          example: '4040'
          readOnly: false
        name:
          type: string
          example: Region
        type:
          type: string
          example: class
          enum:
          - class
          - department
          - location
          - unknown
    Error400ResponseDtoV2:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error400DtoV2'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
    AccountingTransactionEntityRefV2:
      type: object
      properties:
        id:
          type: string
          example: '233'
          readOnly: false
        name:
          type: string
          example: Railz Inc.
          readOnly: false
        type:
          type: string
          example: vendor
          enum:
          - vendor
          - customer
          - unknown
    Error403Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 403
        message:
          readOnly: true
          example:
          - Forbidden resource
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Forbidden
      required:
      - statusCode
      - message
      - error
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
