openapi: 3.1.0
info:
  title: FIS Payments Accounts Wire Transfers API
  description: FIS (Fidelity National Information Services) Payments API provides programmatic access to payment processing capabilities including ACH transfers, wire payments, card processing, and real-time payment networks. Available through the FIS CodeConnect marketplace for financial institutions and fintech developers.
  version: 1.0.0
  contact:
    name: FIS CodeConnect Support
    url: https://codeconnect.fisglobal.com/
  license:
    name: FIS Terms of Use
    url: https://www.fisglobal.com/terms-of-use
servers:
- url: https://api.fisglobal.com/v1
  description: FIS Production API
- url: https://sandbox.api.fisglobal.com/v1
  description: FIS Sandbox environment
security:
- OAuth2ClientCredentials: []
tags:
- name: Wire Transfers
  description: Domestic and international wire transfer operations
paths:
  /wire-transfers:
    post:
      operationId: initiateWireTransfer
      summary: Initiate wire transfer
      description: Initiates a domestic Fedwire or international SWIFT wire transfer. Domestic wires settle same day; international wires may take 1-5 business days.
      tags:
      - Wire Transfers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireTransferRequest'
      responses:
        '201':
          description: Wire transfer initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireTransfer'
        '400':
          description: Invalid request
components:
  schemas:
    AccountReference:
      type: object
      required:
      - accountNumber
      - routingNumber
      properties:
        accountNumber:
          type: string
          description: Bank account number
        routingNumber:
          type: string
          pattern: ^\d{9}$
          description: ABA routing transit number (9 digits)
        accountType:
          type: string
          enum:
          - CHECKING
          - SAVINGS
          - LOAN
        accountHolderName:
          type: string
        bankName:
          type: string
        swiftCode:
          type: string
          description: SWIFT/BIC code for international wires
    WireTransferRequest:
      type: object
      required:
      - amount
      - currency
      - debtorAccount
      - creditorAccount
      properties:
        amount:
          type: number
          format: double
          minimum: 0.01
        currency:
          type: string
          minLength: 3
          maxLength: 3
        wireType:
          type: string
          enum:
          - DOMESTIC_FEDWIRE
          - INTERNATIONAL_SWIFT
          default: DOMESTIC_FEDWIRE
        debtorAccount:
          $ref: '#/components/schemas/AccountReference'
        creditorAccount:
          $ref: '#/components/schemas/AccountReference'
        remittanceInfo:
          type: string
          maxLength: 140
        instructionForCreditorAgent:
          type: string
    WireTransfer:
      allOf:
      - $ref: '#/components/schemas/WireTransferRequest'
      - type: object
        properties:
          wireId:
            type: string
          status:
            type: string
            enum:
            - PENDING
            - SENT
            - CONFIRMED
            - RETURNED
            - FAILED
          imad:
            type: string
            description: Input Message Accountability Data (Fedwire reference)
          omad:
            type: string
            description: Output Message Accountability Data
          createdAt:
            type: string
            format: date-time
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.fisglobal.com/oauth/token
          scopes:
            payments:read: Read payment data
            payments:write: Create and modify payments
            accounts:read: Read account information
externalDocs:
  description: FIS CodeConnect Developer Portal
  url: https://codeconnect.fisglobal.com/
