openapi: 3.1.0
info:
  title: FIS Payments Accounts API
  description: FIS (Fidelity National Information Services) Payments API provides programmatic access to payment processing capabilities including ACH transfers, wire payments, card processing, and real-time payment networks. Available through the FIS CodeConnect marketplace for financial institutions and fintech developers.
  version: 1.0.0
  contact:
    name: FIS CodeConnect Support
    url: https://codeconnect.fisglobal.com/
  license:
    name: FIS Terms of Use
    url: https://www.fisglobal.com/terms-of-use
servers:
- url: https://api.fisglobal.com/v1
  description: FIS Production API
- url: https://sandbox.api.fisglobal.com/v1
  description: FIS Sandbox environment
security:
- OAuth2ClientCredentials: []
tags:
- name: Accounts
  description: Account information and balance inquiries
paths:
  /accounts/{accountId}/balance:
    get:
      operationId: getAccountBalance
      summary: Get account balance
      description: Returns current and available balance for a specified account.
      tags:
      - Accounts
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
        description: Account identifier
      responses:
        '200':
          description: Balance returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalance'
        '404':
          description: Account not found
components:
  schemas:
    AccountBalance:
      type: object
      properties:
        accountId:
          type: string
        availableBalance:
          type: number
          format: double
        currentBalance:
          type: number
          format: double
        currency:
          type: string
        asOf:
          type: string
          format: date-time
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.fisglobal.com/oauth/token
          scopes:
            payments:read: Read payment data
            payments:write: Create and modify payments
            accounts:read: Read account information
externalDocs:
  description: FIS CodeConnect Developer Portal
  url: https://codeconnect.fisglobal.com/
