openapi: 3.2.0
info:
  title: FIS® Accounting Data as a Service™ Bill Controller V2 API
  description: What's changed in our API
  version: v2
  contact: {}
servers:
- url: https://api.railz.ai
  description: Main (production) API server
tags:
- name: BillControllerV2
paths:
  /v2/accounting/bills:
    get:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `quickbooksDesktop` `xero` `oracleNetsuite` `sageBusinessCloud` `sageIntacct` `dynamicsBusinessCentral` `dynamics365Finance` `myob` `zohoBooks`'
      operationId: getBills
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
          type: string
      - name: startDate
        required: false
        in: query
        description: 'Transaction date greater than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: endDate
        required: false
        in: query
        description: 'Transaction date less than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The offset is the position in the dataset of a particular record.
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        description: 'This is the size of the results set you would like (default: 100).'
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      - name: status
        required: false
        in: query
        schema:
          type: string
          enum:
          - open
          - draft
          - partiallyPaid
          - paid
          - unknown
          - void
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillResponseV2Dto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillResponseV2Dto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Bills
      tags:
      - BillControllerV2
    post:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `xero` `oracleNetsuite` `sageBusinessCloud` `sageIntacct` `dynamicsBusinessCentral` `myob` `zohoBooks`'
      operationId: push-bills
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushBillV2Dto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushBillResponseV2Dto'
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Create a Bill
      tags:
      - BillControllerV2
  /v2/accounting/bills/{id}:
    put:
      description: '**Supported for:**


        `quickbooks` `xero` `oracleNetsuite` `sageBusinessCloud` `sageIntacct` `myob`'
      operationId: put-bills
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillsV2Dto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBillsResponseV2Dto'
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Update a Bill
      tags:
      - BillControllerV2
    delete:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `xero` `sageBusinessCloud` `sageIntacct` `dynamicsBusinessCentral`'
      operationId: delete-bills
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveDeleteCommunicationResponseV2'
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Delete a Bill
      tags:
      - BillControllerV2
  /v2/accounting/bills/payments:
    get:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `quickbooksDesktop` `xero` `oracleNetsuite` `sageBusinessCloud` `sageIntacct` `dynamicsBusinessCentral` `dynamics365Finance` `myob` `zohoBooks`'
      operationId: billsPayments
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
          type: string
      - name: startDate
        required: false
        in: query
        description: 'Transaction date greater than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: endDate
        required: false
        in: query
        description: 'Transaction date less than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The offset is the position in the dataset of a particular record.
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        description: 'This is the size of the results set you would like (default: 100).'
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillPaymentResponseV2Dto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillPaymentResponseV2Dto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Bill Payments
      tags:
      - BillControllerV2
    post:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `xero` `oracleNetsuite` `sageBusinessCloud` `sageIntacct` `dynamicsBusinessCentral` `myob` `zohoBooks`'
      operationId: push-bills-payments
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushBillPaymentV2Dto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushBillPaymentResponseV2Dto'
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Create a Bill Payment
      tags:
      - BillControllerV2
  /v2/accounting/bills/payments/{id}:
    put:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `oracleNetsuite` `myob`'
      operationId: put-bills-payments
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillPaymentV2Dto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBillPaymentResponseV2Dto'
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Update a Bill Payment
      tags:
      - BillControllerV2
    delete:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `xero` `sageIntacct` `dynamicsBusinessCentral`'
      operationId: delete-bill-payments
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveDeleteCommunicationResponseV2'
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Delete a Bill Payment
      tags:
      - BillControllerV2
  /v2/accounting/bills/creditNotes:
    get:
      description: '**Supported for:**


        `quickbooks` `quickbooksDesktop` `xero` `oracleNetsuite` `sageBusinessCloud` `sageIntacct` `zohoBooks`'
      operationId: bill-creditNotes
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
          type: string
      - name: startDate
        required: false
        in: query
        description: 'Transaction date greater than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: endDate
        required: false
        in: query
        description: 'Transaction date less than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The offset is the position in the dataset of a particular record.
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        description: 'This is the size of the results set you would like (default: 100).'
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      - name: totalAmount
        required: false
        in: query
        description: Total amount of a credit note.
        schema:
          format: float
          type: number
      - name: remainingCredit
        required: false
        in: query
        description: Remaining credit on a credit note.
        schema:
          format: float
          type: number
      - name: status
        required: false
        in: query
        schema:
          type: string
          enum:
          - open
          - paid
          - partiallyPaid
          - void
          - unknown
          - draft
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillCreditNoteResponseV2Dto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillCreditNoteResponseV2Dto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Bill Credit Notes
      tags:
      - BillControllerV2
    post:
      description: '**Supported for:**


        `quickbooks` `xero` `oracleNetsuite` `sageBusinessCloud` `zohoBooks`'
      operationId: push-bill-creditNotes
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushBillCreditNoteV2Dto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushBillCreditNoteResponseV2Dto'
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Create a Bill Credit Note
      tags:
      - BillControllerV2
  /v2/accounting/bills/paymentRequests:
    get:
      description: '**Supported for:**


        `sageIntacct`'
      operationId: bill-paymentRequests
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
          type: string
      - name: startDate
        required: false
        in: query
        description: 'Transaction date greater than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: endDate
        required: false
        in: query
        description: 'Transaction date less than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The offset is the position in the dataset of a particular record.
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        description: 'This is the size of the results set you would like (default: 100).'
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillPaymentRequestV2ResponseDto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillPaymentRequestV2ResponseDto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Bill Payment Requests
      tags:
      - BillControllerV2
    post:
      description: '**Supported for:**


        `sageIntacct`'
      operationId: post-bill-paymentRequests
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBillPaymentRequestV2Dto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostBillPaymentRequestResponseV2Dto'
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Create a Bill Payment Request
      tags:
      - BillControllerV2
  /v2/accounting/bills/paymentRequests/{id}:
    patch:
      description: '**Supported for:**


        `sageIntacct`'
      operationId: put-bill-paymentRequests
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillPaymentRequestV2Dto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBillPaymentResponseV2Dto'
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: Update a Bill Payment Request
      tags:
      - BillControllerV2
components:
  schemas:
    Error403ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error403Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    Error401Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 401
        message:
          readOnly: true
          example:
          - Unauthorized
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Unauthorized
      required:
      - statusCode
      - message
      - error
    BillPLinks:
      type: object
      properties:
        type:
          type: string
          enum:
          - bill
          - billPayment
          - paymentOnAccount
          - creditNote
          - refund
          - other
        id:
          type: string
          example: '123'
      required:
      - type
      - id
    BillPaymentLineV2:
      type: object
      properties:
        amount:
          type: number
          format: float
          example: '342.99'
        links:
          type: array
          items:
            $ref: '#/components/schemas/LinkRefDto'
        allocatedOnDate:
          format: date
          type: string
          example: '2021-03-29'
    GetBillPaymentRequestDataV2:
      type: object
      properties:
        id:
          type: string
          example: '1'
        batchId:
          type: string
          example: '1'
        vendorRef:
          $ref: '#/components/schemas/VendorRef'
        bankAccountRef:
          $ref: '#/components/schemas/AccountRef'
        paymentNumber:
          type: string
          example: '1'
        paymentCode:
          type: string
          example: '1'
        paymentDate:
          format: date-time
          type: string
          example: '2021-03-09T10:18:29.985Z'
        postedDate:
          format: date-time
          type: string
          example: '2021-03-09T10:18:29.985Z'
        currency:
          type: string
          example: '1'
        paymentAmount:
          type: number
          example: 301.5
          format: float
        totalAmount:
          type: number
          example: 20.5
          format: float
        totalPaid:
          type: number
          example: 322
          format: float
        amountDue:
          type: number
          example: 322
          format: float
        state:
          type: string
          example: approved
          enum:
          - approved
          - open
          - partiallyPaid
          - posted
          - void
          - unknown
          - draft
        links:
          type: array
          items:
            $ref: '#/components/schemas/BillPLinks'
        paymentMethodRef:
          $ref: '#/components/schemas/PaymentRequestPaymentMethodRefDto'
        memo:
          type: string
          example: Example bill memo.
        sourceModifiedDate:
          format: date-time
          type: string
          example: '2021-03-09T10:18:29.985Z'
      required:
      - id
      - vendorRef
      - paymentAmount
      - state
    InventoryRef:
      type: object
      properties:
        id:
          type: string
          example: '1'
        name:
          type: string
          example: Digital Services
      required:
      - id
    Error401ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error401Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    PushBillV2Dto:
      type: object
      properties:
        connectionUuid:
          type: string
          description: Unique connection identifier.
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        data:
          $ref: '#/components/schemas/PushBillV2'
      required:
      - connectionUuid
      - data
    TaxRateRef:
      type: object
      properties:
        id:
          type: string
          example: '1'
        name:
          type: string
          example: HST
        effectiveTaxRate:
          type: number
          example: 13
          format: float
      required:
      - id
    PushBillLineItemV2:
      type: object
      properties:
        id:
          type: string
          example: 8a3fdcc9-83eb-4fdd-83e0-52ec1b40b072
        accountRef:
          $ref: '#/components/schemas/AccountRefDto'
        trackingCategoryRefs:
          type: array
          items:
            $ref: '#/components/schemas/BillTrackingCategoryRefDto'
        taxRateRef:
          $ref: '#/components/schemas/TaxRateRefDto'
        description:
          type: string
          maxLength: 4000
          example: Services rendered.
        unitAmount:
          type: number
          format: float
          example: 100.5
        quantity:
          type: number
          format: float
          example: 3
        customerRef:
          $ref: '#/components/schemas/CustomerObjectRefDto'
        billableStatus:
          type: string
          example: notBillable
          enum:
          - billable
          - notBillable
          - hasBeenBilled
        discountPercentage:
          type: number
          format: float
          example: 100.5
        inventoryRef:
          $ref: '#/components/schemas/InventoryRefDto'
        taxAmount:
          type: number
          format: float
          example: 100.5
      required:
      - unitAmount
      - quantity
    GetBillCreditNoteResponseV2Dto:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetaData'
        meta:
          readOnly: false
          allOf:
          - $ref: '#/components/schemas/BasicStartEndDateReportMetaDataV2'
        count:
          type: number
          example: 1
          format: integer
          readOnly: true
          deprecated: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/GetBillCreditNoteDataV2'
      required:
      - pagination
      - meta
      - count
      - data
    PaginationMetaData:
      type: object
      properties:
        offset:
          type: number
          readOnly: true
        limit:
          type: number
          readOnly: true
        count:
          type: number
          readOnly: true
      required:
      - offset
      - limit
      - count
    Error500Dto:
      type: object
      properties:
        error:
          type: string
          readOnly: true
          example: Internal Server Error
        message:
          readOnly: true
          example:
          - INTERNAL_ERROR
          type: array
          items:
            type: string
        statusCode:
          type: number
          readOnly: true
          example: 500
      required:
      - error
      - message
      - statusCode
    BillPaymentRequestMetaData:
      type: object
      properties:
        reportId:
          readOnly: true
          example:
          - 5fad8a342a88364234392fb5
          - 5fad8a342a88364234392fb6
          type: array
          items:
            type: string
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        businessName:
          type: string
          readOnly: true
          example: Railz
        startDate:
          type: string
          example: '2020-11-25T01:02:03Z'
          format: date-time
        endDate:
          type: string
          example: '2020-11-30T01:02:03Z'
          format: date-time
        createdAt:
          type: string
          example: '2020-11-25T01:02:03Z'
          format: date-time
        updatedAt:
          type: string
          example: '2020-11-30T01:02:03Z'
          format: date-time
          readOnly: false
      required:
      - reportId
      - serviceName
      - businessName
      - createdAt
      - updatedAt
    PushBillCreditNoteV2Dto:
      type: object
      properties:
        connectionUuid:
          type: string
          description: Unique connection identifier.
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        data:
          $ref: '#/components/schemas/PushBillCreditNoteV2'
      required:
      - connectionUuid
      - data
    PushBillV2:
      type: object
      properties:
        vendorInvoiceNumber:
          type: string
          maxLength: 21
          example: '254'
        postedDate:
          type: string
          format: date
          example: '2021-03-29'
        dueDate:
          type: string
          format: date
          example: '2021-03-29'
        currencyRate:
          type: number
          format: float
          example: 1.13
        memo:
          type: string
          maxLength: 4000
          example: Example bill memo.
        vendorRef:
          $ref: '#/components/schemas/VendorRefDto'
        currency:
          type: string
          example: CAD
        subsidiaryRefs:
          type: array
          items:
            $ref: '#/components/schemas/SubsidiaryRefDto'
        lines:
          type: array
          items:
            $ref: '#/components/schemas/PushBillLineItemV2'
        purchaseOrderRefs:
          type: array
          items:
            $ref: '#/components/schemas/PurchaseOrderRefDto'
        passThrough:
          type: object
          additionalProperties: true
          example:
            CustomField:
            - DefinitionId: '1'
              StringValue: my custom value
              Name: Field One
        billType:
          type: string
          enum:
          - item
          - service
          - professional
          - miscellaneous
          example: item
      required:
      - vendorRef
      - lines
    Error403Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 403
        message:
          readOnly: true
          example:
          - Forbidden resource
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Forbidden
      required:
      - statusCode
      - message
      - error
    UpdateBillsV2Dto:
      type: object
      properties:
        connectionUuid:
          type: string
          description: Unique connection identifier.
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        data:
          $ref: '#/components/schemas/UpdateBillsV2'
      required:
      - connectionUuid
      - data
    BillCreditNoteLineItemV2:
      type: object
      properties:
        description:
          type: string
          maxLength: 4000
          example: Services rendered.
        unitAmount:
          type: number
          format: float
          example: 100.5
        quantity:
          type: number
          format: float
          example: 3
        billableStatus:
          type: string
          example: notBillable
          enum:
          - billable
          - notBillable
          - hasBeenBilled
        id:
          type: string
        discountPercentage:
          type: number
          format: float
          example: 301.5
        taxRateRef:
          $ref: '#/components/schemas/TaxRateRefDto'
        accountRef:
          $ref: '#/components/schemas/AccountRefDto'
        trackingCategoryRefs:
          type: array
          items:
            $ref: '#/components/schemas/CreditNoteTrackingCategoryRefDto'
        inventoryRef:
          $ref: '#/components/schemas/InventoryRefDto'
        taxAmount:
          type: number
          format: float
          example: 301.5
      required:
      - unitAmount
      - quantity
    InvoiceBillLineItemsV2:
      type: object
      properties:
        description:
          type: string
          example: Services rendered.
        unitAmount:
          type: number
          example: 100.5
          format: float
        quantity:
          type: number
          example: 3
          format: float
        discountAmount:
          type: number
          example: 0
          format: float
        taxAmount:
          type: number
          example: 20.5
          format: float
        taxRateRef:
          $ref: '#/components/schemas/TaxRateRef'
        inventoryRef:
          $ref: '#/components/schemas/InventoryRef'
        discountPercentage:
          type: number
          example: 10.5
          format: float
        id:
          type: string
        accountRef:
          $ref: '#/components/schemas/AccountRef'
        amount:
          type: number
          example: 10.5
          format: float
        trackingCategoryRefs:
          type: array
          items:
            $ref: '#/components/schemas/TrackingCategoryRefV2'
    CustomerObjectRefResponse:
      type: object
      properties:
        id:
          type: string
          example: '124'
        name:
          type: string
          example: Railz
      required:
      - id
    Payments:
      type: object
      properties:
        amount:
          type: number
          example: 50.5
          format: float
        paymentId:
          type: string
          example: '50'
        date:
          format: date-time
          type: string
          example: '2021-03-09T10:18:29.985Z'
    PostBillPaymentRequestV2Dto:
      type: object
      properties:
        connectionUuid:
          type: string
          description: Unique connection identifier.
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        data:
          $ref: '#/components/schemas/PostBillPaymentRequestV2'
      required:
      - connectionUuid
      - data
    AccountRef:
      type: object
      properties:
        id:
          type: string
          example: '145'
        name:
          type: string
          example: Example account
      required:
      - id
    PaymentMethodRefDto:
      type: object
      properties:
        id:
          type: string
          example: '1'
        name:
          type: string
          example: Harmonized sales tax
        type:
          type: string
          example: creditCard
          enum:
          - unknown
          - cash
          - check
          - creditCard
          - debitCard
          - bankTransfer
          - giftCard
          - other
    LinkRefDto:
      type: object
      properties:
        id:
          type: string
          example: 3n2
        type:
          type: string
          example: bill
          enum:
          - bill
          - other
          - creditNote
          - billPayment
          - paymentOnAccount
          - refund
      required:
      - id
    GetBillV2Data:
      type: object
      properties:
        id:
          type: string
          example: '1'
        vendorRef:
          $ref: '#/components/schemas/VendorRef'
        purchaseOrderRefs:
          type: array
          items:
            $ref: '#/components/schemas/PurchaseOrderRef'
        postedDate:
          format: date-time
          type: string
          example: '2021-03-09T10:18:29.985Z'
        dueDate:
          format: date-time
          type: string
          example: '2021-03-09T10:18:29.985Z'
        currency:
          type: string
          example: USD
        currencyRate:
          type: number
          example: 1.13
          format: float
        billType:
          type: string
          enum:
          - item
          - service
          - professional
          - miscellaneous
          example: item
        vendorInvoiceNumber:
          type: string
          example: INV-0028
        lines:
          type: array
          items:
            $ref: '#/components/schemas/BillLineItemsV2'
        status:
          type: string
          enum:
          - open
          - draft
          - partiallyPaid
          - paid
          - unknown
          - void
          - reversed
          - reversal
        subTotal:
          type: number
          example: 301.5
          format: float
        taxAmount:
          type: number
          example: 20.5
          format: float
        totalAmount:
          type: number
          example: 322
          format: float
        amountDue:
          type: number
          example: 322
          format: float
        memo:
          type: string
          example: Example bill memo.
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payments'
        subsidiaryRefs:
          type: array
          items:
            $ref: '#/components/schemas/SubsidiaryRef'
        sourceModifiedDate:
          format: date-time
          type: string
          example: '2021-03-09T10:18:29.985Z'
      required:
      - id
      - postedDate
      - lines
      - status
      - totalAmount
    BillLineItemsV2:
      type: object
      properties:
        id:
          type: string
          example: 8a3fdcc9-83eb-4fdd-83e0-52ec1b40b072
        accountRef:
          $ref: '#/components/schemas/AccountRef'
        taxRateRef:
          $ref: '#/components/schemas/TaxRateRef'
        inventoryRef:
          $ref: '#/components/schemas/InventoryRef'
        trackingCategoryRefs:
          type: array
          items:
            $ref: '#/components/schemas/TrackingCategoryResponse'
        description:
          type: string
          example: Services rendered.
        unitAmount:
          type: number
          example: 100.5
          format: float
        quantity:
          type: number
          example: 3
          format: float
        discountAmount:
          type: number
          example: 0
          format: float
        taxAmount:
          type: number
          example: 20.5
          format: float
        amount:
          type: number
          example: 322
          format: float
        discountPercentage:
          type: number
          example: 10.5
          format: float
        customerRef:
          $ref: '#/components/schemas/CustomerObjectRefResponse'
        billableStatus:
          type: string
          example: notBillable
          enum:
          - billable
          - notBillable
          - hasBeenBilled
      required:
      - id
      - amount
    UpdateBillPaymentRequestV2Dto:
      type: object
      properties:
        connectionUuid:
          type: string
          description: Unique connection identifier.
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        data:
          $ref: '#/components/schemas/UpdateBillPaymentRequestV2'
      required:
      - connectionUuid
      - data
    PushBillCreditNoteResponseV2Dto:
      type: object
      properties:
        connectionUuid:
          type: string
          readOnly: true
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        businessName:
          type: string
          readOnly: true
          example: Railz
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        pushCommunicationId:
          type: string
          readOnly: true
          example: 60473b57f0cdd1683ca71f60
        requestedOn:
          type: string
          readOnly: true
          example: '2021-03-09T08:15:22.035Z'
          format: date-time
        status:
          type: string
          readOnly: true
          example: pending
          enum:
          - success
          - failed
          - pending
        data:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/PushBillCreditNoteV2'
      required:
      - connectionUuid
      - businessName
      - serviceName
      - pushCommunicationId
      - requestedOn
      - status
      - data
    Error400DtoV2:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 400
        message:
          readOnly: true
          example:
          - connectionUuid should not be empty
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Bad Request
      required:
      - statusCode
      - message
      - error
    BasicStartEndDateReportMetaDataV2:
      type: object
      properties:
        connectionUuid:
          type: string
          readOnly: true
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        businessName:
          type: string
          readOnly: true
          example: Railz
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        reportId:
          readOnly: true
          example:
          - 5fad8a342a88364234392fb5
          type: array
          items:
            type: string
        createdAt:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        updatedAt:
          type: string
          example: '2020-11-30T01:02:03Z'
          format: date-time
          readOnly: false
        startDate:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        endDate:
          type: string
          readOnly: true
          example: '2020-11-30T01:02:03Z'
          format: date-time
      required:
      - connectionUuid
      - businessName
      - serviceName
      - reportId
      - createdAt
      - updatedAt
      - startDate
      - endDate
    PurchaseOrderRef:
      type: object
      properties:
        id:
          type: string
          example: '15'
        purchaseOrderNumber:
          type: string
          example: '1500'
      required:
      - id
    PushBillCreditNoteV2:
      type: object
      properties:
        currencyRate:
          type: number
          format: float
          example: 1.13
        postedDate:
          type: string
          format: date
          example: '2021-03-29'
        allocatedOnDate:
          type: string
          format: date
          example: '2021-03-29'
        memo:
          type: string
          maxLength: 4000
          example: Example memo.
        vendorRef:
          $ref: '#/components/schemas/VendorRefDto'
        currency:
          type: string
          example: CAD
        lines:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/BillCreditNoteLineItemV2'
        subsidiaryRefs:
          type: array
          items:
            $ref: '#/components/schemas/SubsidiaryRefDto'
        passThrough:
          type: object
          additionalProperties: true
          example:
            CustomField:
            - DefinitionId: '1'
              StringValue: my custom value
              Name: Field One
        billCreditNoteNumber:
          type: string
          description: The buyer facing document number of the bill credit note.
      required:
      - vendorRef
      - lines
    CreditNoteTrackingCategoryRefDto:
      type: object
      properties:
        id:
          type: string
          example: '4040'
        type:
          type: string
          example: class
          enum:
          - class
          - department
          - location
          - unknown
      required:
      - id
    BillPaymentRequestLinks:
      type: object
      properties:
        amount:
          type: number
          format: float
        id:
          type: string
      required:
      - amount
      - id
    UpdateBillPaymentRequestV2:
      type: object
      properties:
        state:
          type: string
          example: paid
          enum:
          - paid
    TransactionalReportMetaDataV2:
      type: object
      properties:
        connectionUuid:
          type: string
          readOnly: true
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        businessName:
          type: string
          readOnly: true
          example: Railz
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        reportId:
          readOnly: true
          example:
          - 5fad8a342a88364234392fb5
          - 5fad8a342a88364234392fb6
          type: array
          items:
            type: string
        startDate:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        endDate:
          type: string
          readOnly: true
          example: '2020-11-30T01:02:03Z'
          format: date-time
        createdAt:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        updatedAt:
          type: string
          example: '2020-11-30T01:02:03Z'
          format: date-time
          readOnly: false
      required:
      - connectionUuid
      - businessName
      - serviceName
      - reportId
      - startDate
      - endDate
      - createdAt
      - updatedAt
    PushBillResponseV2Dto:
      type: object
      properties:
        connectionUuid:
          type: string
          readOnly: true
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        businessName:
          type: string
          readOnly: true
          example: Railz
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        pushCommunicationId:
          type: string
          readOnly: true
          example: 60473b57f0cdd1683ca71f60
        requestedOn:
          type: string
          readOnly: true
          example: '2021-03-09T08:15:22.035Z'
          format: date-time
        status:
          type: string
          readOnly: true
          example: pending
          enum:
          - success
          - failed
          - pending
        data:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/PushBillV2'
      required:
      - connectionUuid
      - businessName
      - serviceName
      - pushCommunicationId
      - requestedOn
      - status
      - data
    SubsidiaryRef:
      type: object
      properties:
        id:
          type: string
          example: '1'
        name:
          type: string
          example: Railz Financial
    UpdateBillsResponseV2Dto:
      type: object
      properties:
        connectionUuid:
          type: string
          readOnly: true
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        businessName:
          type: string
          readOnly: true
          example: Railz
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        pushCommunicationId:
          type: string
          readOnly: true
          example: 60473b57f0cdd1683ca71f60
        requestedOn:
          type: string
          readOnly: true
          example: '2021-03-09T08:15:22.035Z'
          format: date-time
        status:
          type: string
          readOnly: true
          example: pending
          enum:
          - success
          - failed
          - pending
        data:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/UpdateBillsV2'
      required:
      - connectionUuid
      - businessName
      - serviceName
      - pushCommunicationId
      - requestedOn
      - status
      - data
    BankAccountRefDto:
      type: object
      properties:
        id:
          type: string
          example: '200'
      required:
      - id
    UpdateBillPaymentV2Dto:
      type: object
      properties:
        connectionUuid:
          type: string
          description: Unique connection identifier.
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        data:
          $ref: '#/components/schemas/UpdateBillPaymentV2'
      required:
      - connectionUuid
      - data
    BillPaymentLineV2Item:
      type: object
      properties:
        amount:
          type: number
          example: 200.5
          format: float
        links:
          type: array
          items:
            $ref: '#/components/schemas/BillPLinks'
        allocatedOnDate:
          format: date-time
          type: string
          example: '2021-03-09T10:57:54.294Z'
    PostBillPaymentRequestV2:
      type: object
      properties:
        vendorRef:
          $ref: '#/components/schemas/VendorRefDto'
        paymentNumber:
          type: string
          example: '456'
        paymentCode:
          type: string
          example: '1234'
        paymentDate:
          type: string
          format: date
          example: '2021-03-29'
        bankAccountRef:
          $ref: '#/components/schemas/BankAccountRefDto'
        currency:
          type: string
          example: USD
        totalAmount:
          type: number
          format: decimal
          example: '43.5'
        paymentMethodRef:
          $ref: '#/components/schemas/PaymentRequestPaymentMethodRefDto'
        memo:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/BillPaymentRequestLinks'
      required:
      - bankAccountRef
      - links
    PushBillPaymentResponseV2Dto:
      type: object
      properties:
        connectionUuid:
          type: string
          readOnly: true
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        businessName:
          type: string
          readOnly: true
          example: Railz
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        pushCommunicationId:
          type: string
          readOnly: true
          example: 60473b57f0cdd1683ca71f60
        requestedOn:
          type: string
          readOnly: true
          example: '2021-03-09T08:15:22.035Z'
          format: date-time
        status:
          type: string
          readOnly: true
          example: pending
          enum:
          - success
          - failed
          - pending
        data:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/PushBillPaymentV2'
      required:
      - connectionUuid
      - businessName
      - serviceName
      - pushCommunicationId
      - requestedOn
      - status
      - data
    CustomerObjectRefDto:
      type: object
      properties:
        id:
          type: string
          example: '124'
      required:
      - id
    GetBillResponseV2Dto:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetaData'
        meta:
          $ref: '#/components/schemas/TransactionalReportMetaDataV2'
        data:
          type: array
          items:
            $ref: '#/components/schemas/GetBillV2Data'
      required:
      - pagination
      - meta
      - data
    TrackingCategoryRefV2:
      type: object
      properties:
        id:
          type: string
          example: '4040'
          readOnly: false
        name:
          type: string
          readOnly: false
          example: Region
        type:
          type: string
          example: class
          enum:
          - class
          - department
          - location
          - unknown
      required:
      - id
      - type
    PostBillPaymentRequestResponseV2Dto:
      type: object
      properties:
        connectionUuid:
          type: string
          readOnly: true
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        businessName:
          type: string
          readOnly: true
          example: Railz
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        pushCommunicationId:
          type: string
          readOnly: true
          example: 60473b57f0cdd1683ca71f60
        requestedOn:
          type: string
          readOnly: true
          example: '2021-03-09T08:15:22.035Z'
          format: date-time
        status:
          type: string
          readOnly: true
          example: pending
          enum:
          - success
          - failed
          - pending
        data:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/PostBillPaymentRequestV2'
      required:
      - connectionUuid
      - businessName
      - serviceName
      - pushCommunicationId
      - requestedOn
      - status
      - data
    Error400ResponseDtoV2:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error400DtoV2'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
    UpdateBillPaymentV2:
      type: object
      properties:
        currencyRate:
          type: number
          format: float
          example: 1.13
        memo:
          type: string
          maxLength: 4000
          example: Bill payment memo.
        date:
          type: string
          format: date
          example: '2021-03-29'
        totalAmount:
          type: number
          format: float
          example: 200.5
        vendorRef:
          $ref: '#/components/schemas/VendorRefDto'
        accountRef:
          $ref: '#/components/schemas/AccountRefDto'
        currency:
          type: string
          example: CAD
        lines:
          type: array
          items:
            $ref: '#/components/schemas/BillPaymentLineV2'
        subsidiaryRefs:
          type: array
          items:
            $ref: '#/components/schemas/SubsidiaryRefDto'
        paymentMethod:
          type: string
          deprecated: true
          enum:
          - unknown
          - cash
          - check
          - creditCard
          - debitCard
          - bankTransfer
          - giftCard
          - other
          example: creditCard
        paymentMethodRef:
          $ref: '#/components/schemas/PaymentMethodRefDto'
        passThrough:
          type: object
          additionalProperties: true
          example:
            CustomField:
            - DefinitionId: '1'
              StringValue: my custom value
              Name: Field One
    AccountRefDto:
      type: object
      properties:
        id:
          type: string
          example: '200'
      required:
      - id
    PushBillPaymentV2:
      type: object
      properties:
        currencyRate:
          type: number
          format: float
          example: 1.13
        memo:
          type: string
          maxLength: 4000
          example: Bill payment memo.
        date:
          type: string
          format: date
          example: '2021-03-29'
        totalAmount:
          type: number
          format: float
          example: 200.5
        vendorRef:
          $ref: '#/components/schemas/VendorRefDto'
        accountRef:
          $ref: '#/components/schemas/AccountRefDto'
        currency:
          type: string
          example: CAD
        lines:
          type: array
          items:
            $ref: '#/components/schemas/BillPaymentLineV2'
        subsidiaryRefs:
          type: array
          items:
            $ref: '#/components/schemas/SubsidiaryRefDto'
        paymentMethod:
          type: string
          deprecated: true
          enum:
          - unknown
          - cash
          - check
          - creditCard
          - debitCard
          - bankTransfer
          - giftCard
          - other
          example: creditCard
        paymentMethodRef:
          $ref: '#/components/schemas/PaymentMethodRefDto'
        passThrough:
          type: object
          additionalProperties: true
          example:
            CustomField:
            - DefinitionId: '1'
              StringValue: my custom value
              Name: Field One
    UpdateBillPaymentResponseV2Dto:
      type: object
      properties:
        connectionUuid:
          type: string
          readOnly: true
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        businessName:
          type: string
          readOnly: true
          example: Railz
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        pushCommunicationId:
          type: string
          readOnly: true
          example: 60473b57f0cdd1683ca71f60
        requestedOn:
          type: string
          readOnly: true
          example: '2021-03-09T08:15:22.035Z'
          format: date-time
        status:
          type: string
          readOnly: true
          example: pending
          enum:
          - success
          - failed
          - pending
        data:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/UpdateBillPaymentV2'
      required:
      - connectionUuid
      - businessName
      - serviceName
      - pushCommunicationId
      - requestedOn
      - status
      - data
    TrackingCategoryResponse:
      type: object
      properties:
        id:
          type: string
          example: '4040'
          readOnly: false
        name:
          type: string
          readOnly: false
          example: Region
        type:
          type: string
          example: class
          enum:
          - class
          - department
          - location
          - unknown
    VendorRef:
      type: object
      properties:
        id:
          type: string
          example: '1'
        name:
          type: string
          example: Home Depot
      required:
      - id
    UpdateBillsV2:
      type: object
      properties:
        vendorInvoiceNumber:
          type: string
          maxLength: 21
          example: '254'
        postedDate:
          type: string
          format: date
          example: '2021-03-29'
        dueDate:
          type: string
          format: date
          example: '2021-03-29'
        currencyRate:
          type: number
          format: float
          example: 1.13
        memo:
          type: string
          maxLength: 4000
          example: Example bill memo.
        vendorRef:
          $ref: '#/components/schemas/VendorRefDto'
        currency:
          type: string
          example: CAD
        subsidiaryRefs:
          type: array
          items:
            $ref: '#/components/schemas/SubsidiaryRefDto'
        lines:
          type: array
          items:
            $ref: '#/components/schemas/UpdateBillLineItemV2'
        purchaseOrderRefs:
          type: array
          items:
            $ref: '#/components/schemas/PurchaseOrderRefDto'
        passThrough:
          type: object
          additionalProperties: true
          example:
            CustomField:
            - DefinitionId: '1'
              StringValue: my custom value
              Name: Field One
        billType:
          type: string
          enum:
          - item
          - service
          - professional
          - miscellaneous
          example: item
      required:
      - vendorRef
      - lines
    PurchaseOrderRefDto:
      type: object
      properties:
        id:
          type: string
          example: '21'
      required:
      - id
    UpdateBillLineItemV2:
      type: object
      properties:
        description:
          type: string
          maxLength: 4000
          example: Services rendered.
        unitAmount:
          type: number
          format: float
          example: 50.5
        quantity:
          type: number
          format: float
          example: 202
        billableStatus:
          type: string
          example: notBillable
          enum:
          - billable
          - notBillable
          - hasBeenBilled
        customerRef:
          $ref: '#/components/schemas/CustomerObjectRefDto'
        id:
          type: string
          example: 8a3fdcc9-83eb-4fdd-83e0-52ec1b40b072
        accountRef:
          $ref: '#/components/schemas/AccountRefDto'
        trackingCategoryRefs:
          type: array
          items:
            $ref: '#/components/schemas/BillTrackingCategoryRefDto'
        discountPercentage:
          type: number
          format: float
          example: 100.5
        inventoryRef:
          $ref: '#/components/schemas/InventoryRefDto'
        taxRateRef:
          $ref: '#/components/schemas/TaxRateRefDto'
        taxAmount:
          type: number
          format: float
          example: 20.5
      required:
      - unitAmount
      - quantity
    InventoryRefDto:
      type: object
      properties:
        id:
          type: string
          example: '32'
      required:
      - id
    SubsidiaryRefDto:
      type: object
      properties:
        id:
          type: string
          example: '4'
      required:
      - id
    BillTrackingCategoryRefDto:
      type: object
      properties:
        id:
          type: string
          example: '4040'
        type:
          type: string
          example: class
          enum:
          - class
          - department
          - location
          - unknown
      required:
      - id
    TaxRateRefDto:
      type: object
      properties:
        id:
          type: string
          example: '12'
      required:
      - id
    GetBillPaymentV2Data:
      type: object
      properties:
        id:
          type: string
          example: '1'
        vendorRef:
          $ref: '#/components/schemas/VendorRef'
        accountRef:
          $ref: '#/components/schemas/AccountRef'
        totalAmount:
          type: number
          example: 200.5
          format: float
        currency:
          type: string
          example: USD
        currencyRate:
          type: number
          example: 1.13
          format: float
        date:
          format: date-time
          type: string
          example: '2021-03-09T10:57:54.294Z'
        memo:
          type: string
          example: Bill payment memo.
        paymentMethod:
          type: string
          enum:
          - unknown
          - cash
          - check
          - creditCard
          - debitCard
          - bankTransfer
          - giftCard
          - other
          example: creditCard
          deprecated: true
        paymentMethodRef:
          $ref: '#/components/schemas/PaymentMethodRefResponse'
        lines:
          type: array
          items:
            $ref: '#/components/schemas/BillPaymentLineV2Item'
        subsidiaryRefs:
          type: array
          items:
            $ref: '#/components/schemas/SubsidiaryRef'
        sourceModifiedDate:
          format: date-time
          type: string
          example: '2021-03-09T10:18:29.985Z'
      required:
      - id
      - totalAmount
      - date
    PaymentRequestPaymentMethodRefDto:
      type: object
      properties:
        id:
          type: string
          example: '1'
        name:
          type: string
          example: Harmonized sales tax
        type:
          type: string
          example: creditCard
          enum:
          - unknown
          - cash
          - printedCheck
          - manualCheck
          - creditCard
          - debitCard
          - bankTransfer
          - giftCard
          - automatedClearingHouse
          - other
    SaveDeleteCommunicationResponseV2:
      type: object
      properties:
        connectionUuid:
          type: string
          readOnly: true
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        businessName:
          type: string
          readOnly: true
          example: Railz
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        deleteCommunicationId:
          type: string
          readOnly: true
          example: 645102bca1b57c57cc241173
        requestedOn:
          type: string
          readOnly: true
          example: '2022-06-24T09:40:11.088Z'
          format: date-time
        status:
          type: string
          readOnly: true
          example: pending
          enum:
          - success
          - failed
          - pending
      required:
      - connectionUuid
      - businessName
      - serviceName
      - deleteCommunicationId
      - requestedOn
      - status
    GetBillCreditNoteDataV2:
      type: object
      properties:
        id:
          type: string
          example: '1'
        postedDate:
          format: date-time
          type: string
          example: '2021-03-09T10:18:29.985Z'
        allocatedOnDate:
          format: date-time
          type: string
          example: '2021-03-09T10:18:29.985Z'
        currency:
          type: string
          example: USD
        currencyRate:
          type: number
          example: 1.13
          format: float
        totalDiscount:
          type: number
          example: 322
          format: float
        discountPercentage:
          type: number
          example: 322
          format: float
        subTotal:
          type: number
          example: 301.5
          format: float
        taxAmount:
          type: number
          example: 20.5
          format: float
        totalAmount:
          type: number
          example: 322
          format: float
        remainingCredit:
          type: number
          example: 322
          format: float
        status:
          type: string
          enum:
          - open
          - paid
          - partiallyPaid
          - void
          - unknown
          - draft
        memo:
          type: string
          example: Example bill memo.
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payments'
        vendorRef:
          $ref: '#/components/schemas/VendorRef'
        lines:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceBillLineItemsV2'
        subsidiaryRefs:
          type: array
          items:
            $ref: '#/components/schemas/SubsidiaryRef'
        sourceModifiedDate:
          format: date-time
          type: string
          example: '2021-03-09T10:18:29.985Z'
        billCreditNoteNumber:
          type: string
          description: The buyer facing document number of the bill credit note.
      required:
      - id
      - postedDate
      - totalAmount
      - status
      - vendorRef
      - lines
    VendorRefDto:
      type: object
      properties:
        id:
          type: string
          example: '130'
      required:
      - id
    Error500ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error500Dto'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
    PaymentMethodRefResponse:
      type: object
      properties:
        id:
          type: string
          example: '3'
        name:
          type: string
          example: Harmonized sales tax
        type:
          type: string
          example: creditCard
          enum:
          - unknown
          - cash
          - check
          - creditCard
          - debitCard
          - bankTransfer
          - giftCard
          - other
    GetBillPaymentRequestV2ResponseDto:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/BillPaymentRequestMetaData'
        pagination:
          $ref: '#/components/schemas/PaginationMetaData'
        data:
          type: array
          items:
            $ref: '#/components/schemas/GetBillPaymentRequestDataV2'
      required:
      - meta
      - pagination
      - data
    PushBillPaymentV2Dto:
      type: object
      properties:
        connectionUuid:
          type: string
          description: Unique connection identifier.
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        data:
          $ref: '#/components/schemas/PushBillPaymentV2'
      required:
      - connectionUuid
      - data
    GetBillPaymentResponseV2Dto:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetaData'
        meta:
          $ref: '#/components/schemas/TransactionalReportMetaDataV2'
        data:
          type: array
          items:
            $ref: '#/components/schemas/GetBillPaymentV2Data'
      required:
      - pagination
      - meta
      - data
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
