openapi: 3.2.0
info:
  title: FIS® Accounting Data as a Service™ Visualizations API
  description: What's changed in our API
  version: v2
  contact: {}
servers:
- url: https://api.railz.ai
  description: Main (production) API server
tags:
- name: Visualizations
paths:
  /v2/visualizations/invoices:
    get:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `quickbooksDesktop` `xero` `oracleNetsuite` `sageBusinessCloud` `sageIntacct` `dynamicsBusinessCentral` `dynamics365Finance` `wave` `myob` `zohoBooks`'
      operationId: reportInvoices
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          type: string
      - name: startDate
        required: true
        in: query
        description: 'The start date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      - name: endDate
        required: true
        in: query
        description: 'The end date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      responses:
        '200':
          description: Successfully returned invoices report
          content:
            application/json:
              schema:
                type: object
                readOnly: true
                properties:
                  meta:
                    type: object
                    readOnly: true
                    properties:
                      reportId:
                        type: array
                        items:
                          type: string
                        readOnly: true
                        example:
                        - 5fad8a342a88364234392fb5
                      serviceName:
                        type: string
                        readOnly: true
                        enum:
                        - freshbooks
                        - quickbooks
                        - quickbooksDesktop
                        - xero
                        - oracleNetsuite
                        - sageBusinessCloud
                        - sageIntacct
                        - dynamicsBusinessCentral
                        - dynamics365Finance
                        - wave
                        - myob
                        - zohoBooks
                        - byod
                        example: xero
                      businessName:
                        type: string
                        readOnly: true
                        example: Railz
                      createdAt:
                        type: string
                        readOnly: true
                        example: '2020-12-25T01:02:03Z'
                      updatedAt:
                        type: string
                        readOnly: true
                        example: '2020-12-25T01:02:03Z'
                      endDate:
                        type: string
                        readOnly: true
                        example: '2020-12-25T01:02:03Z'
                        description: if report frequency is monthly, end date is maximum of 12 months from start date, if quaterly, its a maximum of 3 years from start date, if yearly, its maximum of 12 years from start date
                      startDate:
                        type: string
                        readOnly: true
                        example: '2020-11-25T01:02:03Z'
                    required:
                    - reportId
                    - serviceName
                    - businessName
                    - endDate
                    - startDate
                  data:
                    type: object
                    readOnly: true
                    properties:
                      unpaidAmount:
                        type: number
                        description: sum of amount due
                        minimum: 0
                        example: 0
                      paidAmount:
                        type: number
                        description: sum (latestAmount - amountDue)
                        minimum: 0
                        example: 1000
                      overdueAmount:
                        type: number
                        description: where current Date > dueDate, sum amountDue
                        minimum: 0
                    required:
                    - unpaidAmount
                    - paidAmount
                    - overdueAmount
                required:
                - meta
                - data
        '202':
          description: Data in pending state
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDto'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Invoices report
      tags:
      - Visualizations
  /v2/visualizations/bills:
    get:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `quickbooksDesktop` `xero` `oracleNetsuite` `sageBusinessCloud` `sageIntacct` `dynamicsBusinessCentral` `dynamics365Finance` `myob` `zohoBooks`'
      operationId: reportBills
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          type: string
      - name: startDate
        required: true
        in: query
        description: 'The start date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      - name: endDate
        required: true
        in: query
        description: 'The end date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      responses:
        '200':
          description: Successfully returned bills report
          content:
            application/json:
              schema:
                type: object
                readOnly: true
                properties:
                  meta:
                    type: object
                    readOnly: true
                    properties:
                      reportId:
                        type: array
                        items:
                          type: string
                        readOnly: true
                        example:
                        - 5fad8a342a88364234392fb5
                      serviceName:
                        type: string
                        readOnly: true
                        enum:
                        - freshbooks
                        - quickbooks
                        - quickbooksDesktop
                        - xero
                        - oracleNetsuite
                        - sageBusinessCloud
                        - sageIntacct
                        - dynamicsBusinessCentral
                        - dynamics365Finance
                        - wave
                        - myob
                        - zohoBooks
                        - byod
                        example: xero
                      businessName:
                        type: string
                        readOnly: true
                        example: Railz
                      createdAt:
                        type: string
                        readOnly: true
                        example: '2020-12-25T01:02:03Z'
                      updatedAt:
                        type: string
                        readOnly: true
                        example: '2020-12-25T01:02:03Z'
                      endDate:
                        type: string
                        readOnly: true
                        example: '2020-12-25T01:02:03Z'
                        description: if report frequency is monthly, end date is maximum of 12 months from start date, if quaterly, its a maximum of 3 years from start date, if yearly, its maximum of 12 years from start date
                      startDate:
                        type: string
                        readOnly: true
                        example: '2020-11-25T01:02:03Z'
                    required:
                    - reportId
                    - serviceName
                    - businessName
                    - endDate
                    - startDate
                  data:
                    type: object
                    readOnly: true
                    properties:
                      unpaidAmount:
                        type: number
                        description: sum of amount due
                        minimum: 0
                        example: 0
                      paidAmount:
                        type: number
                        description: sum (latestAmount - amountDue)
                        minimum: 0
                        example: 1000
                      overdueAmount:
                        type: number
                        description: where current Date > dueDate, sum amountDue
                        minimum: 0
                    required:
                    - unpaidAmount
                    - paidAmount
                    - overdueAmount
                required:
                - meta
                - data
        '202':
          description: Data in pending state
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDto'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Bills report
      tags:
      - Visualizations
  /v2/visualizations/revenue:
    get:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `quickbooksDesktop` `xero` `dynamicsBusinessCentral` `zohoBooks` `byod`'
      operationId: reportRevenue
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          type: string
      - name: startDate
        required: true
        in: query
        description: 'The start date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      - name: endDate
        required: true
        in: query
        description: 'The end date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      - name: reportFrequency
        required: true
        in: query
        description: The report snapshot frequency.
        schema:
          enum:
          - month
          - quarter
          - year
          type: string
      - name: accountingMethod
        required: false
        in: query
        schema:
          default: accrual
          type: string
          enum:
          - cash
          - accrual
      responses:
        '200':
          description: Successfully returned revenue report
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    readOnly: true
                    properties:
                      reportId:
                        type: array
                        readOnly: true
                        example:
                        - 5fad8a342a88364234392fb5
                        items:
                          type: string
                      serviceName:
                        type: string
                        enum:
                        - freshbooks
                        - quickbooks
                        - quickbooksDesktop
                        - xero
                        - oracleNetsuite
                        - sageBusinessCloud
                        - sageIntacct
                        - dynamicsBusinessCentral
                        - dynamics365Finance
                        - wave
                        - myob
                        - zohoBooks
                        - byod
                        readOnly: true
                        example: xero
                      businessName:
                        type: string
                        readOnly: true
                        example: Railz
                      endDate:
                        type: string
                        readOnly: true
                        example: '2020-12-25T01:02:03Z'
                        description: if report frequency is monthly, end date is maximum of 12 months from start date, if quaterly, its a maximum of 3 years from start date, if yearly, its maximum of 12 years from start date
                      startDate:
                        type: string
                        readOnly: true
                        example: '2020-11-25T01:02:03Z'
                      reportFrequency:
                        type: string
                        readOnly: true
                        example: month
                        enum:
                        - month
                        - quarter
                        - year
                      currency:
                        type: string
                        readOnly: true
                        example: USD
                    required:
                    - reportId
                    - serviceName
                    - businessName
                    - startDate
                    - endDate
                    - reportFrequency
                    - currency
                  data:
                    type: object
                    readOnly: true
                    properties:
                      subSections:
                        type: array
                        description: 'For each subsection, get its end date values and return the top 3 and the remaining sub section values should be summed up and indicated in the last object where name = ''Other'' '
                        items:
                          type: object
                          readOnly: true
                          properties:
                            name:
                              type: string
                              example: Operating Expenses
                              description: Sub section with the largest amount
                            amount:
                              type: number
                              example: 1200
                              minimum: 0
                              description: Total of all values in the expenses section in incomeStatement results
                          example:
                          - name: Utilities
                            amount: 2300
                          - name: Service Fee Income
                            amount: 1000
                          - name: Other
                            amount: 200
                          required:
                          - name
                          - amount
                      totalAmount:
                        type: number
                        example: 3500
                        description: Total of all values in the expenses section in incomeStatement results as at end date
                      percentageChange:
                        type: number
                        example: 15
                        description: Percentage change between previous period and current end date period
                    required:
                    - totalAmount
                    - percentChange
                    - subSections
                readOnly: true
                required:
                - meta
                - data
        '202':
          description: Data in pending state
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDto'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Revenue report
      tags:
      - Visualizations
  /v2/visualizations/expenses:
    get:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `quickbooksDesktop` `xero` `dynamicsBusinessCentral` `zohoBooks` `byod`'
      operationId: reportExpenses
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          type: string
      - name: startDate
        required: true
        in: query
        description: 'The start date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      - name: endDate
        required: true
        in: query
        description: 'The end date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      - name: reportFrequency
        required: true
        in: query
        description: The report snapshot frequency.
        schema:
          enum:
          - month
          - quarter
          - year
          type: string
      - name: accountingMethod
        required: false
        in: query
        schema:
          default: accrual
          type: string
          enum:
          - cash
          - accrual
      responses:
        '200':
          description: Successfully returned expenses report
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    readOnly: true
                    properties:
                      reportId:
                        type: array
                        readOnly: true
                        example:
                        - 5fad8a342a88364234392fb5
                        items:
                          type: string
                      serviceName:
                        type: string
                        enum:
                        - freshbooks
                        - quickbooks
                        - quickbooksDesktop
                        - xero
                        - oracleNetsuite
                        - sageBusinessCloud
                        - sageIntacct
                        - dynamicsBusinessCentral
                        - dynamics365Finance
                        - wave
                        - myob
                        - zohoBooks
                        - byod
                        readOnly: true
                        example: xero
                      businessName:
                        type: string
                        readOnly: true
                        example: Railz
                      endDate:
                        type: string
                        readOnly: true
                        example: '2020-12-25T01:02:03Z'
                        description: if report frequency is monthly, end date is maximum of 12 months from start date, if quaterly, its a maximum of 3 years from start date, if yearly, its maximum of 12 years from start date
                      startDate:
                        type: string
                        readOnly: true
                        example: '2020-11-25T01:02:03Z'
                      reportFrequency:
                        type: string
                        readOnly: true
                        example: month
                        enum:
                        - month
                        - quarter
                        - year
                      currency:
                        type: string
                        readOnly: true
                        example: USD
                    required:
                    - reportId
                    - serviceName
                    - businessName
                    - startDate
                    - endDate
                    - reportFrequency
                    - currency
                  data:
                    type: object
                    readOnly: true
                    properties:
                      subSections:
                        type: array
                        description: 'For each subsection, get its end date values and return the top 3 and the remaining sub section values should be summed up and indicated in the last object where name = ''Other'' '
                        items:
                          type: object
                          readOnly: true
                          properties:
                            name:
                              type: string
                              example: Operating Expenses
                              description: Sub section with the largest amount
                            amount:
                              type: number
                              example: 1200
                              minimum: 0
                              description: Total of all values in the expenses section in incomeStatement results
                          example:
                          - name: Utilities
                            amount: 2300
                          - name: Service Fee Income
                            amount: 1000
                          - name: Other
                            amount: 200
                          required:
                          - name
                          - amount
                      totalAmount:
                        type: number
                        example: 3500
                        description: Total of all values in the expenses section in incomeStatement results as at end date
                      percentageChange:
                        type: number
                        example: 15
                        description: Percentage change between previous period and current end date period
                    required:
                    - totalAmount
                    - percentChange
                    - subSections
                readOnly: true
                required:
                - meta
                - data
        '202':
          description: Data in pending state
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDto'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Expenses report
      tags:
      - Visualizations
  /v2/visualizations/cashflowStatements:
    get:
      description: '**Supported for:**


        `quickbooks` `dynamicsBusinessCentral` `zohoBooks` `byod`'
      operationId: reportCashflowStatements
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          type: string
      - name: startDate
        required: true
        in: query
        description: 'The start date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      - name: endDate
        required: true
        in: query
        description: 'The end date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      - name: reportFrequency
        required: true
        in: query
        description: The report snapshot frequency.
        schema:
          enum:
          - month
          - quarter
          - year
          type: string
      - name: accountingMethod
        required: false
        in: query
        schema:
          default: accrual
          type: string
          enum:
          - cash
          - accrual
      responses:
        '200':
          description: Successfully returned cashflow report
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    readOnly: true
                    properties:
                      reportId:
                        type: array
                        readOnly: true
                        example:
                        - 5fad8a342a88364234392fb5
                        items:
                          type: string
                      serviceName:
                        type: string
                        enum:
                        - freshbooks
                        - quickbooks
                        - quickbooksDesktop
                        - xero
                        - oracleNetsuite
                        - sageBusinessCloud
                        - sageIntacct
                        - dynamicsBusinessCentral
                        - dynamics365Finance
                        - wave
                        - myob
                        - zohoBooks
                        - byod
                        readOnly: true
                        example: xero
                      businessName:
                        type: string
                        readOnly: true
                        example: Railz
                      endDate:
                        type: string
                        readOnly: true
                        example: '2020-12-25T01:02:03Z'
                        description: if report frequency is monthly, end date is maximum of 12 months from start date, if quaterly, its a maximum of 3 years from start date, if yearly, its maximum of 12 years from start date
                      startDate:
                        type: string
                        readOnly: true
                        example: '2020-11-25T01:02:03Z'
                      reportFrequency:
                        type: string
                        readOnly: true
                        example: month
                        enum:
                        - month
                        - quarter
                        - year
                      currency:
                        type: array
                        readOnly: true
                        example:
                        - USD
                        items:
                          type: string
                    required:
                    - reportId
                    - serviceName
                    - businessName
                    - startDate
                    - endDate
                    - reportFrequency
                    - currency
                  data:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      readOnly: true
                      properties:
                        period:
                          type: object
                          readOnly: true
                          properties:
                            year:
                              type: number
                              example: 2020
                            month:
                              type: number
                              example: 8
                              minimum: 1
                            quarter:
                              type: number
                              example: 3
                              minimum: 1
                            day:
                              type: number
                              example: 31
                              minimum: 1
                            date:
                              type: string
                              example: '2020-08-31T00:00:00.000Z'
                              minimum: 1
                          required:
                          - year
                          - month
                          - quarter
                          - day
                          - date
                        operatingActivities:
                          type: number
                          readOnly: true
                          example: 345
                        financingActivities:
                          type: number
                          readOnly: true
                          example: 345
                        investingActivities:
                          type: number
                          readOnly: true
                          example: 345
                        netCash:
                          type: number
                          readOnly: true
                          example: 345
                      required:
                      - period
                      - operatingActivities
                      - financingActivities
                      - investingActivities
                      - netCash
                readOnly: true
                required:
                - meta
                - data
        '202':
          description: Data in pending state
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDto'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Cashflow report
      tags:
      - Visualizations
  /v2/visualizations/incomeStatements:
    get:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `quickbooksDesktop` `xero` `dynamicsBusinessCentral` `zohoBooks` `byod`'
      operationId: reportIncomeStatements
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          type: string
      - name: startDate
        required: true
        in: query
        description: 'The start date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      - name: endDate
        required: true
        in: query
        description: 'The end date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      - name: reportFrequency
        required: true
        in: query
        description: The report snapshot frequency.
        schema:
          enum:
          - month
          - quarter
          - year
          type: string
      - name: accountingMethod
        required: false
        in: query
        schema:
          default: accrual
          type: string
          enum:
          - cash
          - accrual
      responses:
        '200':
          description: Successfully returned income statements report
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    readOnly: true
                    properties:
                      reportId:
                        type: array
                        readOnly: true
                        example:
                        - 5fad8a342a88364234392fb5
                        items:
                          type: string
                      serviceName:
                        type: string
                        enum:
                        - freshbooks
                        - quickbooks
                        - quickbooksDesktop
                        - xero
                        - oracleNetsuite
                        - sageBusinessCloud
                        - sageIntacct
                        - dynamicsBusinessCentral
                        - dynamics365Finance
                        - wave
                        - myob
                        - zohoBooks
                        - byod
                        readOnly: true
                        example: xero
                      businessName:
                        type: string
                        readOnly: true
                        example: Railz
                      endDate:
                        type: string
                        readOnly: true
                        example: '2020-12-25T01:02:03Z'
                        description: if report frequency is monthly, end date is maximum of 12 months from start date, if quaterly, its a maximum of 3 years from start date, if yearly, its maximum of 12 years from start date
                      startDate:
                        type: string
                        readOnly: true
                        example: '2020-11-25T01:02:03Z'
                      reportFrequency:
                        type: string
                        readOnly: true
                        example: month
                        enum:
                        - month
                        - quarter
                        - year
                      currency:
                        type: array
                        readOnly: true
                        example:
                        - USD
                        items:
                          type: string
                    required:
                    - reportId
                    - serviceName
                    - businessName
                    - startDate
                    - endDate
                    - reportFrequency
                    - currency
                  data:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      readOnly: true
                      properties:
                        period:
                          type: object
                          readOnly: true
                          properties:
                            year:
                              type: number
                              example: 2020
                            month:
                              type: number
                              example: 8
                              minimum: 1
                            quarter:
                              type: number
                              example: 3
                              minimum: 1
                            day:
                              type: number
                              example: 31
                              minimum: 1
                            date:
                              type: string
                              example: '2020-08-31T00:00:00.000Z'
                              minimum: 1
                          required:
                          - year
                          - month
                          - quarter
                          - day
                          - date
                        operatingIncome:
                          type: number
                          readOnly: true
                          example: 345
                        operatingExpenses:
                          type: number
                          readOnly: true
                          example: 345
                        costOfGoodsSold:
                          type: number
                          readOnly: true
                          example: 345
                        otherIncome:
                          type: number
                          readOnly: true
                          example: 345
                        otherExpenses:
                          type: number
                          readOnly: true
                          example: 345
                        netIncome:
                          type: number
                          readOnly: true
                          example: 345
                      required:
                      - period
                      - operatingIncome
                      - operatingExpenses
                      - costOfGoodsSold
                      - otherIncome
                      - otherExpenses
                      - netIncome
                readOnly: true
                required:
                - meta
                - data
        '202':
          description: Data in pending state
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDto'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Income Statements report
      tags:
      - Visualizations
  /v2/visualizations/balanceSheets:
    get:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `quickbooksDesktop` `xero` `dynamicsBusinessCentral` `zohoBooks` `byod`'
      operationId: reportBalanceSheets
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          type: string
      - name: startDate
        required: true
        in: query
        description: 'The start date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      - name: endDate
        required: true
        in: query
        description: 'The end date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      - name: reportFrequency
        required: true
        in: query
        description: The report snapshot frequency.
        schema:
          enum:
          - month
          - quarter
          - year
          type: string
      - name: accountingMethod
        required: false
        in: query
        schema:
          default: accrual
          type: string
          enum:
          - cash
          - accrual
      responses:
        '200':
          description: Successfully returned balance sheets
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    readOnly: true
                    properties:
                      reportId:
                        type: array
                        readOnly: true
                        example:
                        - 5fad8a342a88364234392fb5
                        items:
                          type: string
                      serviceName:
                        type: string
                        enum:
                        - freshbooks
                        - quickbooks
                        - quickbooksDesktop
                        - xero
                        - oracleNetsuite
                        - sageBusinessCloud
                        - sageIntacct
                        - dynamicsBusinessCentral
                        - dynamics365Finance
                        - wave
                        - myob
                        - zohoBooks
                        - byod
                        readOnly: true
                        example: xero
                      businessName:
                        type: string
                        readOnly: true
                        example: Railz
                      endDate:
                        type: string
                        readOnly: true
                        example: '2020-12-25T01:02:03Z'
                        description: if report frequency is monthly, end date is maximum of 12 months from start date, if quaterly, its a maximum of 3 years from start date, if yearly, its maximum of 12 years from start date
                      startDate:
                        type: string
                        readOnly: true
                        example: '2020-11-25T01:02:03Z'
                      reportFrequency:
                        type: string
                        readOnly: true
                        example: month
                        enum:
                        - month
                        - quarter
                        - year
                      currency:
                        type: array
                        readOnly: true
                        example:
                        - USD
                        items:
                          type: string
                    required:
                    - reportId
                    - serviceName
                    - businessName
                    - startDate
                    - endDate
                    - reportFrequency
                    - currency
                  data:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      readOnly: true
                      properties:
                        period:
                          type: object
                          readOnly: true
                          properties:
                            year:
                              type: number
                              example: 2020
                            month:
                              type: number
                              example: 8
                              minimum: 1
                            quarter:
                              type: number
                              example: 3
                              minimum: 1
                            day:
                              type: number
                              example: 31
                              minimum: 1
                            date:
                              type: string
                              example: '2020-08-31T00:00:00.000Z'
                              minimum: 1
                          required:
                          - year
                          - month
                          - quarter
                          - day
                          - date
                        currentAssets:
                          type: number
                          readOnly: true
                          example: 345
                        nonCurrentAssets:
                          type: number
                          readOnly: true
                          example: 345
                        currentLiabilities:
                          type: number
                          readOnly: true
                          example: 345
                        nonCurrentLiabilities:
                          type: number
                          readOnly: true
                          example: 345
                        equity:
                          type: number
                          readOnly: true
                          example: 345
                      required:
                      - period
                      - assets
                      - liabilities
                      - equity
                readOnly: true
                required:
                - meta
                - data
        '202':
          description: Data in pending state
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDto'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Balance Sheets report
      tags:
      - Visualizations
  /v2/visualizations/financialRatios:
    get:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `quickbooksDesktop` `xero` `dynamicsBusinessCentral` `zohoBooks` `byod`'
      operationId: reportFinancialRatios
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          type: string
      - name: startDate
        required: true
        in: query
        description: 'The start date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      - name: endDate
        required: true
        in: query
        description: 'The end date of the report frequency in the format: yyyy-MM-dd.'
        schema:
          type: string
      - name: reportFrequency
        required: true
        in: query
        description: The report snapshot frequency.
        schema:
          enum:
          - month
          - quarter
          - year
          type: string
      responses:
        '200':
          description: Successfully returned financial ratios
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    readOnly: true
                    properties:
                      reportId:
                        type: array
                        readOnly: true
                        example:
                        - 5fad8a342a88364234392fb5
                        items:
                          type: string
                      serviceName:
                        type: string
                        enum:
                        - freshbooks
                        - quickbooks
                        - quickbooksDesktop
                        - xero
                        - oracleNetsuite
                        - sageBusinessCloud
                        - sageIntacct
                        - dynamicsBusinessCentral
                        - dynamics365Finance
                        - wave
                        - myob
                        - zohoBooks
                        - byod
                        readOnly: true
                        example: xero
                      businessName:
                        type: string
                        readOnly: true
                        example: Railz
                      endDate:
                        type: string
                        readOnly: true
                        example: '2020-12-25T01:02:03Z'
                        description: if report frequency is monthly, end date is maximum of 12 months from start date, if quaterly, its a maximum of 3 years from start date, if yearly, its maximum of 12 years from start date
                      startDate:
                        type: string
                        readOnly: true
                        example: '2020-11-25T01:02:03Z'
                      reportFrequency:
                        type: string
                        readOnly: true
                        example: month
                        enum:
                        - month
                        - quarter
                        - year
                    required:
                    - reportId
                    - serviceName
                    - businessName
                    - startDate
                    - endDate
                    - reportFrequency
                    - currency
                  data:
                    type: object
                    properties:
                      credit:
                        type: object
                        readOnly: true
                        properties:
                          distanceToDefault:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
                                          example: 31
                                          minimum: 1
                                        date:
                                          type: string
                                          example: '2020-08-31T00:00:00.000Z'
                                          minimum: 1
                                      required:
                                      - year
                                      - month
                                      - quarter
                                      - day
                                      - date
                                    value:
                                      type: number
                                      minimum: 0
                                      example: 1000
                                  required:
                                  - period
                                  - value
                            required:
                            - currentValue
                            - percentageChange
                            - timePeriodData
                          probabilityOfDefault:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
                                          example: 31
                                          minimum: 1
                                        date:
                                          type: string
                                          example: '2020-08-31T00:00:00.000Z'
                                          minimum: 1
                                      required:
                                      - year
                                      - month
                                      - quarter
                                      - day
                                      - date
                                    value:
                                      type: number
                                      minimum: 0
                                      example: 1000
                                  required:
                                  - period
                                  - value
                            required:
                            - currentValue
                            - percentageChange
                            - timePeriodData
                          liquidationValue:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
                                          example: 31
                                          minimum: 1
                                        date:
                                          type: string
                                          example: '2020-08-31T00:00:00.000Z'
                                          minimum: 1
                                      required:
                                      - year
                                      - month
                                      - quarter
                                      - day
                                      - date
                                    value:
                                      type: number
                                      minimum: 0
                                      example: 1000
                                  required:
                                  - period
                                  - value
                            required:
                            - currentValue
                            - percentageChange
                            - timePeriodData
                      efficiency:
                        type: object
                        readOnly: true
                        properties:
                          grossBurnRate:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
                                          example: 31
                                          minimum: 1
                                        date:
                                          type: string
                                          example: '2020-08-31T00:00:00.000Z'
                                          minimum: 1
                                      required:
                                      - year
                                      - month
                                      - quarter
                                      - day
                                      - date
                                    value:
                                      type: number
                                      minimum: 0
                                      example: 1000
                                  required:
                                  - period
                                  - value
                            required:
                            - currentValue
                            - percentageChange
                            - timePeriodData
                          inventoryTurnoverRatio:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
                                          example: 31
                                          minimum: 1
                                        date:
                                          type: string
                                          example: '2020-08-31T00:00:00.000Z'
                                          minimum: 1
                                      required:
                                      - year
                                      - month
                                      - quarter
                                      - day
                                      - date
                                    value:
                                      type: number
                                      minimum: 0
                                      example: 1000
                                  required:
                                  - period
                                  - value
                            required:
                            - currentValue
                            - percentageChange
                            - timePeriodData
                          assetTurnoverRatio:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
                                          example: 31
                                          minimum: 1
                                        date:
                                          type: string
                                          example: '2020-08-31T00:00:00.000Z'
                                          minimum: 1
                                      required:
                                      - year
                                      - month
                                      - quarter
                                      - day
                                      - date
                                    value:
                                      type: number
                                      minimum: 0
                                      example: 1000
                                  required:
                                  - period
                                  - value
                            required:
                            - currentValue
                            - percentageChange
                            - timePeriodData
                      leverage:
                        type: object
                        readOnly: true
                        properties:
                          equityToLTAssets:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
                                          example: 31
                                          minimum: 1
                                        date:
                                          type: string
                                          example: '2020-08-31T00:00:00.000Z'
                                          minimum: 1
                                      required:
                                      - year
                                      - month
                                      - quarter
                                      - day
                                      - date
                                    value:
                                      type: number
                                      minimum: 0
                                      example: 1000
                                  required:
                                  - period
                                  - value
                            required:
                            - currentValue
                            - percentageChange
                            - timePeriodData
                          shortDebtToEquityRatio:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
                                          example: 31
                                          minimum: 1
                                        date:
                                          type: string
                                          example: '2020-08-31T00:00:00.000Z'
                                          minimum: 1
                                      required:
                                      - year
                                      - month
                                      - quarter
                                      - day
                                      - date
                                    value:
                                      type: number
                                      minimum: 0
                                      example: 1000
                                  required:
                                  - period
                                  - value
                            required:
                            - currentValue
                            - percentageChange
                            - timePeriodData
                          debtToEquityRatio:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
                                          example: 31
                                          minimum: 1
                                        date:
                                          type: string
                                          example: '2020-08-31T00:00:00.000Z'
                                          minimum: 1
                                      required:
                                      - year
                                      - month
                                      - quarter
                                      - day
                                      - date
                                    value:
                                      type: number
                                      minimum: 0
                                      example: 1000
                                  required:
                                  - period
                                  - value
                            required:
                            - currentValue
                            - percentageChange
                            - timePeriodData
                          interestBankLoan:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
                                          example: 31
                                          minimum: 1
                                        date:
                                          type: string
                                          example: '2020-08-31T00:00:00.000Z'
                                          minimum: 1
                                      required:
                                      - year
                                      - month
                                      - quarter
                                      - day
                                      - date
                                    value:
                                      type: number
                                      minimum: 0
                                      example: 1000
                                  required:
                                  - period
                                  - value
                            required:
                            - currentValue
                            - percentageChange
                            - timePeriodData
                          interestCoverageRatio:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
                                          example: 31
                                          minimum: 1
                                        date:
                                          type: string
                                          example: '2020-08-31T00:00:00.000Z'
                                          minimum: 1
                                      required:
                                      - year
                                      - month
                                      - quarter
                                      - day
                                      - date
                                    value:
                                      type: number
                                      minimum: 0
                                      example: 1000
                                  required:
                                  - period
                                  - value
                            required:
                            - currentValue
                            - percentageChange
                            - timePeriodData
                          debtToAssetsRatio:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
                                          example: 31
                                          minimum: 1
                                        date:
                                          type: string
                                          example: '2020-08-31T00:00:00.000Z'
                                          minimum: 1
                                      required:
                                      - year
                                      - month
                                      - quarter
                                      - day
                                      - date
                                    value:
                                      type: number
                                      minimum: 0
                                      example: 1000
                                  required:
                                  - period
                                  - value
                            required:
                            - currentValue
                            - percentageChange
                            - timePeriodData
                          debtServiceCoverageRatio:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
                                          example: 31
                                          minimum: 1
                                        date:
                                          type: string
                                          example: '2020-08-31T00:00:00.000Z'
                                          minimum: 1
                                      required:
                                      - year
                                      - month
                                      - quarter
                                      - day
                                      - date
                                    value:
                                      type: number
                                      minimum: 0
                                      example: 1000
                                  required:
                                  - period
                                  - value
                            required:
                            - currentValue
                            - percentageChange
                            - timePeriodData
                      liquidity:
                        type: object
                        readOnly: true
                        properties:
                          quickRatio:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
                                          example: 31
                                          minimum: 1
                                        date:
                                          type: string
                                          example: '2020-08-31T00:00:00.000Z'
                                          minimum: 1
                                      required:
                                      - year
                                      - month
                                      - quarter
                                      - day
                                      - date
                                    value:
                                      type: number
                                      minimum: 0
                                      example: 1000
                                  required:
                                  - period
                                  - value
                            required:
                            - currentValue
                            - percentageChange
                            - timePeriodData
                          absoluteLiquidity:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
                                          example: 31
                                          minimum: 1
                                        date:
                                          type: string
                                          example: '2020-08-31T00:00:00.000Z'
                                          minimum: 1
                                      required:
                                      - year
                                      - month
                                      - quarter
                                      - day
                                      - date
                                    value:
                                      type: number
                                      minimum: 0
                                      example: 1000
                                  required:
                                  - period
                                  - value
                            required:
                            - currentValue
                            - percentageChange
                            - timePeriodData
                          currentRatio:
                            type: object
                            readOnly: true
                            properties:
                              currentValue:
                                type: number
                                description: Return on Assets - EBITDA calculation (a decimal value)
                                example: 10
                                format: double
                              percentageChange:
                                type: number
                                description: EBITDA (a dollar value)
                                example: 10
                                format: double
                              timePeriodData:
                                type: array
                                readOnly: true
                                maxItems: 12
                                items:
                                  type: object
                                  readOnly: true
                                  properties:
                                    period:
                                      type: object
                                      readOnly: true
                                      properties:
                                        year:
                                          type: number
                                          example: 2020
                                        month:
                                          type: number
                                          example: 8
                                          minimum: 1
                                        quarter:
                                          type: number
                                          example: 3
                                          minimum: 1
                                        day:
                                          type: number
[...]
