openapi: 3.2.0
info:
  title: FIS® Accounting Data as a Service™ Aging Controller V2 API
  description: What's changed in our API
  version: v2
  contact: {}
servers:
- url: https://api.railz.ai
  description: Main (production) API server
tags:
- name: AgingControllerV2
paths:
  /v2/accounting/apAging:
    get:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `quickbooksDesktop` `dynamicsBusinessCentral`'
      operationId: apAging
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
          type: string
      - name: startDate
        required: false
        in: query
        description: 'Transaction date greater than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: endDate
        required: false
        in: query
        description: 'Transaction date less than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The offset is the position in the dataset of a particular record.
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        description: 'This is the size of the results set you would like (default: 100).'
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      - name: reportFrequency
        required: true
        in: query
        schema:
          type: string
          enum:
          - month
          - quarter
          - year
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApAgingResponseV2Dto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApAgingResponseV2Dto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Aged Payables
      tags:
      - AgingControllerV2
  /v2/accounting/arAging:
    get:
      description: '**Supported for:**


        `freshbooks` `quickbooks` `quickbooksDesktop` `sageIntacct` `dynamicsBusinessCentral`'
      operationId: arAging
      parameters:
      - name: connectionUuid
        required: true
        in: query
        description: Unique connection identifier.
        schema:
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
          type: string
      - name: startDate
        required: false
        in: query
        description: 'Transaction date greater than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: endDate
        required: false
        in: query
        description: 'Transaction date less than or equal to parameter in the format: YYYY-MM-DD.'
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The offset is the position in the dataset of a particular record.
        schema:
          format: integer
          type: number
      - name: limit
        required: false
        in: query
        description: 'This is the size of the results set you would like (default: 100).'
        schema:
          format: integer
          example: 100
          type: number
      - name: orderBy
        required: false
        in: query
        schema:
          type: string
      - name: reportFrequency
        required: true
        in: query
        schema:
          type: string
          enum:
          - month
          - quarter
          - year
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArAgingResponseV2Dto'
        '202':
          description: Data in pending state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArAgingResponseV2Dto'
        '204':
          description: No data available
        '400':
          description: Bad Request Error - Thrown if fields sent via query does not follow specifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400ResponseDtoV2'
        '401':
          description: Unauthorized - Not logged in or log in expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401ResponseDto'
        '403':
          description: Forbidden - Not enough permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403ResponseDto'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500ResponseDto'
      security:
      - bearer: []
      summary: List Aged Receivables
      tags:
      - AgingControllerV2
components:
  schemas:
    Error403ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error403Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    Error401Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 401
        message:
          readOnly: true
          example:
          - Unauthorized
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Unauthorized
      required:
      - statusCode
      - message
      - error
    Error401ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error401Dto'
        payload:
          type: object
          readOnly: true
          example: {}
      required:
      - error
      - payload
    PaginationMetaData:
      type: object
      properties:
        offset:
          type: number
          readOnly: true
        limit:
          type: number
          readOnly: true
        count:
          type: number
          readOnly: true
      required:
      - offset
      - limit
      - count
    ApAgingResponseV2Dto:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetaData'
        reports:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ApAgingReportV2'
      required:
      - pagination
      - reports
    Error500Dto:
      type: object
      properties:
        error:
          type: string
          readOnly: true
          example: Internal Server Error
        message:
          readOnly: true
          example:
          - INTERNAL_ERROR
          type: array
          items:
            type: string
        statusCode:
          type: number
          readOnly: true
          example: 500
      required:
      - error
      - message
      - statusCode
    ArAgingReportV2:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ArAgingMetaDataV2'
        data:
          type: array
          items:
            $ref: '#/components/schemas/ArAgingDataV2'
      required:
      - meta
      - data
    ArAgingCustomerV2Ref:
      type: object
      properties:
        id:
          type: string
          example: '240'
        name:
          type: string
          example: Railz
      required:
      - name
    ApAgingMetaDataV2:
      type: object
      properties:
        connectionUuid:
          type: string
          readOnly: true
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        businessName:
          type: string
          readOnly: true
          example: Railz
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        reportId:
          readOnly: true
          example:
          - 5fad8a342a88364234392fb5
          type: array
          items:
            type: string
        startDate:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        endDate:
          type: string
          readOnly: true
          example: '2020-11-30T01:02:03Z'
          format: date-time
        createdAt:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        updatedAt:
          type: string
          example: '2020-11-30T01:02:03Z'
          format: date-time
          readOnly: false
        reportFrequency:
          type: string
          example: month
          readOnly: true
      required:
      - connectionUuid
      - businessName
      - serviceName
      - reportId
      - startDate
      - endDate
      - createdAt
      - updatedAt
      - reportFrequency
    Error400DtoV2:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 400
        message:
          readOnly: true
          example:
          - connectionUuid should not be empty
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Bad Request
      required:
      - statusCode
      - message
      - error
    ArAgingResponseV2Dto:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetaData'
        reports:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ArAgingReportV2'
      required:
      - pagination
      - reports
    Error400ResponseDtoV2:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error400DtoV2'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
    Error403Dto:
      type: object
      properties:
        statusCode:
          type: number
          readOnly: true
          example: 403
        message:
          readOnly: true
          example:
          - Forbidden resource
          type: array
          items:
            type: string
        error:
          type: string
          readOnly: true
          example: Forbidden
      required:
      - statusCode
      - message
      - error
    ArAgingMetaDataV2:
      type: object
      properties:
        connectionUuid:
          type: string
          readOnly: true
          example: CON-396d5daa-26b2-4979-89b6-cafb2c298155
        businessName:
          type: string
          readOnly: true
          example: Railz
        serviceName:
          type: string
          readOnly: true
          example: xero
          enum:
          - freshbooks
          - quickbooks
          - quickbooksDesktop
          - xero
          - oracleNetsuite
          - sageBusinessCloud
          - sageIntacct
          - dynamicsBusinessCentral
          - dynamics365Finance
          - wave
          - myob
          - zohoBooks
          - byod
        reportId:
          readOnly: true
          example:
          - 5fad8a342a88364234392fb5
          type: array
          items:
            type: string
        startDate:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        endDate:
          type: string
          readOnly: true
          example: '2020-11-30T01:02:03Z'
          format: date-time
        createdAt:
          type: string
          readOnly: true
          example: '2020-11-25T01:02:03Z'
          format: date-time
        updatedAt:
          type: string
          example: '2020-11-30T01:02:03Z'
          format: date-time
          readOnly: false
        reportFrequency:
          type: string
          example: month
          readOnly: true
      required:
      - connectionUuid
      - businessName
      - serviceName
      - reportId
      - startDate
      - endDate
      - createdAt
      - updatedAt
      - reportFrequency
    ApAgingReportV2:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ApAgingMetaDataV2'
        data:
          type: array
          items:
            $ref: '#/components/schemas/ApAgingDataV2'
      required:
      - meta
      - data
    ApAgingDataV2:
      type: object
      properties:
        vendorRef:
          $ref: '#/components/schemas/ApAgingVendorRefV2'
        current:
          type: number
          example: 50000
          format: float
          readOnly: false
        dpd30:
          type: number
          example: 25000
          format: float
          readOnly: false
        dpd60:
          type: number
          example: 25000
          format: float
          readOnly: false
        dpd90:
          type: number
          example: 60000
          format: float
          readOnly: false
        dpd90+:
          type: number
          example: 90000
          format: float
          readOnly: false
        total:
          type: number
          example: 200000
          format: float
          readOnly: false
        currency:
          type: string
          example: USD
      required:
      - current
      - dpd30
      - dpd60
      - dpd90
      - dpd90+
      - total
    Error500ResponseDto:
      type: object
      properties:
        error:
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/Error500Dto'
        payload:
          type: object
          readOnly: true
      required:
      - error
      - payload
    ArAgingDataV2:
      type: object
      properties:
        customerRef:
          $ref: '#/components/schemas/ArAgingCustomerV2Ref'
        current:
          type: number
          example: 50000
          format: float
          readOnly: false
        dpd30:
          type: number
          example: 25000
          format: float
          readOnly: false
        dpd60:
          type: number
          example: 25000
          format: float
          readOnly: false
        dpd90:
          type: number
          example: 60000
          format: float
          readOnly: false
        dpd90+:
          type: number
          example: 90000
          format: float
          readOnly: false
        total:
          type: number
          example: 200000
          format: float
          readOnly: false
        currency:
          type: string
          example: USD
      required:
      - current
      - dpd30
      - dpd60
      - dpd90
      - dpd90+
      - total
    ApAgingVendorRefV2:
      type: object
      properties:
        id:
          type: string
          example: '240'
        name:
          type: string
          example: Railz
      required:
      - name
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
